{% extends 'base-header.html' %}
{% load static %}

   {% block content %}

      <div class="innerpage_banner_sec">
         <div class="innerpage_banner ">
            <img src="{% static 'assets/images/painting-10.jpg' %}" alt="">
         </div>
         <style>
            .innerpage_banner {
            background: #000;
            height: 100%;
            }
            .innerpage_banner_sec .innerpage_banner img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            }
         </style>
         <div class="hero-wrap-item center-item">
            <!--     <h2><span style="color: #ffffff;">Bedroom</span></h2> -->
         </div>
      </div>
      <section class="about_sec section">
         <div class="container">
            <div class="row ">
               <div class="col-12">
                  <h1>Bedroom</h1>
                  <p>It's no surprise that I believe good design has the power to promote a positive mood. But there's also a pretty big crowd within the science community backing me up. For example, a 2015 survey published in the Journal of the Association for Psychological Science reports that most people feel like their emotional wellbeing is influenced (and in some cases, regulated) by a room's ambiance. And since your bedroom is where you go to rest and decompress, it should definitely be designed to help you do that.</p>
                  <p>A simple way to ensure your bedroom design promotes a positive mood and feels like a place you can unwind in? Make sure it reflects your style; incorporates your favorite materials, colors, and patterns; shines the right light; and maximizes space. If you need some inspiration to revamp your bedroom, you've come to the right place. We brainstormed 65 bedroom design ideas to help you create your own perfect resting space. No matter how bold you want to go, how large your room is, or what your design preference is, these bedroom decorating ideas, shopping tips, and designer examples are sure to inspire deeper, dreamier slumbers. Not to mention, they're sure to impress guests.</p>
                  <p>The bedroom is the most relaxing space in your home. It is the space that encompasses you into a cosy vibe and takes you away from the external world’s humdrum. The past two years have taken a toll on our mental and physical health. It has taught us the value of our homes and the peace and tranquility that a cosy and functional home adds to our life. With the advent of a New Year, our homes deserve a makeover. So we thought of bringing you the latest in 2022 bedroom trends and giving you a glimpse of what will be in this year. These bedroom design trends are easy to incorporate and will blend seamlessly into your modern design aesthetics. </p>

               </div>
            </div>
         </div>
      </section>
      <!-- ======= Kitchen Gallery ======= -->
      <section class="slider_section pt-1 section  ">
         <div class="container position-relative pb-5">
            <div class="section-title ">
               <h2 class="text-center  mb-5">Gallery</h2>
            </div>
            <div class="row project_gallery">
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/bedroom-2.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/bedroom-2.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/bedroom-1.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/bedroom-1.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/bedroom-14.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/bedroom-14.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/bedroom-13.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/bedroom-13.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/bedroom-12.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/bedroom-12.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/bedroom-11.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/bedroom-11.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/bedroom-10.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/bedroom-10.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/bedroom-9.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/bedroom-9.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/bedroom-8.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/bedroom-8.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/bedroom-7.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/bedroom-7.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/bedroom-6.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/bedroom-6.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/bedroom-5.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/bedroom-5.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/bedroom-4.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/bedroom-4.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/bedroom-3.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/bedroom-3.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
            </div>
         </div>
      </section>
{% endblock %}
