{% extends 'base-header.html' %}
{% load static %}

   {% block content %}

      <div class="innerpage_banner_sec">
         <div class="innerpage_banner ">
            <img src="{% static 'assets/images/bedroom-banner.jpeg' %}" alt="">
         </div>
         <style>
            .innerpage_banner {
            background: #000;
            height: 100%;
            }
            .innerpage_banner_sec .innerpage_banner img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            }
         </style>
         <div class="hero-wrap-item center-item">
            <!--     <h2><span style="color: #ffffff;">Bedroom</span></h2> -->
         </div>
      </div>
      <section class="about_sec section">
         <div class="container">
            <div class="row ">
               <div class="col-12">
                  <h1>Bedroom</h1>
                  <p>A bona fide interior design has some therapeutic power that leads to getting some positive vibes. It has been proven that the ambiance of a room has a corollary on a person’s temper in one or the other way. Bedrooms are the resting place of your home. So, the interior of the bedroom in your home can relax your consternation issues to a greater extent. </p>
<p>If you want your bedroom to relax you in your resilient mental stability situations, then have your own way of styling it. Bedroom interiors have their prominence in one’s mental condition, and designing this part of your house needs that kind of creativity where it can relax you and can be a mood changer too. Your bedroom should reflect your taste whether it is in color, patterns, and even designs used in the interiors. Cozy space has got you the right designs as per your taste and need or preference. We have numerous bedroom interior designs that serve the unerring purpose of your choice and suit any kind of room you have. We respect your preferences and design your bedroom interior design as per your prerequisites. Our designs are for sure would impress your guests as well.</p>
<p>The bedroom is the vanguard where we spend when we wake up and the chump status we go to relax at night. This room should be designed to make your day. So, the vibes would make you brighten right from the start of your day and relax you when you are tired. Cozy space has got you covered with several designs which suit your style and taste. Tailor-made designs for your bedroom is made easy with the interior bedroom designs we got for you. We got you covered with the best bedroom design ideas that are always on-trend. We even upgrade our designs with viral trends prevailing and even at your convenience. Design your bedroom with modern aesthetics in Cozy Space!!
</p>

               </div>
            </div>
         </div>
      </section>
      <!-- ======= Kitchen Gallery ======= -->
      <section class="slider_section pt-1 section  ">
         <div class="container position-relative pb-5">
            <div class="section-title ">
               <h2 class="text-center  mb-5">Gallery</h2>
            </div>
            <div class="row project_gallery">
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/bedroom-2.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/bedroom-2.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/bedroom-1.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/bedroom-1.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/bedroom-14.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/bedroom-14.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/bedroom-13.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/bedroom-13.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/bedroom-12.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/bedroom-12.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/bedroom-11.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/bedroom-11.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/bedroom-10.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/bedroom-10.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/bedroom-9.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/bedroom-9.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/bedroom-8.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/bedroom-8.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/bedroom-7.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/bedroom-7.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/bedroom-6.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/bedroom-6.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/bedroom-5.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/bedroom-5.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/bedroom-4.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/bedroom-4.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/bedroom-3.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/bedroom-3.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
            </div>
         </div>
      </section>
{% endblock %}
