{% extends 'base-header.html' %}
{% load static %}

   {% block content %}

      <div class="innerpage_banner_sec">
         <div class="innerpage_banner ">
            <img src="{% static 'assets/images/children-room-banner.jpg' %}" alt="">
         </div>
         <style>
            .innerpage_banner {
            background: #000;
            height: 100%;
            }
            .innerpage_banner_sec .innerpage_banner img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            }
         </style>
         <div class="hero-wrap-item center-item">
            <!--     <h2><span style="color: #ffffff;">Children Room</span></h2> -->
         </div>
      </div>
      <section class="about_sec section">
         <div class="container">
            <div class="row ">
               <div class="col-12">
                  <h1>Children Room</h1>
                 <p>Children’s rooms should be designed with utmost inventiveness, and with more cartoony. This makes children delighted with the interiors of their own space. Their rooms need to be designed by curating every detail of the room. It should be creative, resourceful, and more fun generating so that children would fall in love with their room. Many times, parents try to erect a room for their children on their own, but with the help of an expert, it would become an easier task for you.</p>
	<p>At cozy space, we have a bunch of experts who could furnish the best children’s room interior designs that would make your task plain sailing. We even have a set of pre-designed interior designs for children’s rooms. You can even ameliorate these designs as per your requirement and as per your children’s preferences. </p>
<p>Cozy space succours you in designing your children’s room with our expert trainers’ help. What is so special to engage us? Here’s what we could bring about to design your children’s room:</p>
<ol><li>We consider all the ideas you have to delineate your children’s room</li>
<li>We make your children involved in delineating their room as we feel they have this right to design with their creative ideas.</li>
<li>Considering the space, you have for your children’s room we filtrate your ideas and draw the best interior design for the children’s room out of it. </li>
<li>All the colors used, cartoons drawn, or any learning theme put on view are designed as per your and your children’s requirement and preferences to make it look at its best. </li>
<li>The furniture is designed according to your children’s needs and taking the safety of your children into account. </li></ol>

<p>Children’s rooms should be designed by taking all the preventive measures so that they don’t get injured while playing in their room. So, while designing your children’s room interior design, we child-proof their room so that their fun space is always out of harm’s way. Their rooms are designed to keep their fun and studies at the same pace. </p>
<p>Cozy space always respects your concern for your children while designing the interior for your children’s room. Once you choose Cozy Space there is nothing to worry about. You came to the right stop for all your interior needs!!</p>


               </div>
            </div>
         </div>
      </section>
      <!-- ======= Kitchen Gallery ======= -->
      <section class="slider_section pt-1 section  ">
         <div class="container position-relative pb-5">
            <div class="section-title ">
               <h2 class="text-center  mb-5">Gallery</h2>
            </div>
            <div class="row project_gallery">
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/children-room-6.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/children-room-6.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/children-room-5.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/children-room-5.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/children-room-4.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/children-room-4.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/children-room-3.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/children-room-3.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/children-room-2.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/children-room-2.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/children-room-1.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/children-room-1.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/children-room-10.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/children-room-10.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/children-room-9.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/children-room-9.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/children-room-8.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/children-room-8.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/children-room-1.webp' %}" class="galelry-lightbox"><img src="{% static 'assets/images/children-room-1.webp' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/children-room-7.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/children-room-7.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
            </div>
         </div>
      </section>
     {% endblock %}
