{% extends 'base-header.html' %}
{% load static %}

   {% block content %}

      <div class="innerpage_banner_sec">
         <div class="innerpage_banner ">
            <img src="{% static 'assets/images/children-s-bedroom-1297037868-79146487132c443796233e06ed2d68af-1.jpg' %}" alt="">
         </div>
         <style>
            .innerpage_banner {
            background: #000;
            height: 100%;
            }
            .innerpage_banner_sec .innerpage_banner img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            }
         </style>
         <div class="hero-wrap-item center-item">
            <!--     <h2><span style="color: #ffffff;">Children Room</span></h2> -->
         </div>
      </div>
      <section class="about_sec section">
         <div class="container">
            <div class="row ">
               <div class="col-12">
                  <h1>Children Room</h1>
                 <p>At Cozyspace, we understand that every child is special and every kid’s room comes with a different set of perquisites, all of which need to be adhered to with an eye on details. To help a child feel comfortable and happy where they are, there are various aspects that you need to get right, and this is where it gets tricky and fun too. However, when it comes to doing it without expert help, there is no telling how many times you would give up, before finally finding that perfect interior designer for yourself.</p>
<p>To make your experience with creating a room for your precious children amazing and hassle free, we offer our services. We aid you to build a space where your child can be free and find comfort. Just like adults, children too, need space to grow and enjoy. At Cozyspace we will help you design the perfect room for your kid.</p>
                  <p>When you hire us to design your child’s room, here is what we offer you:</p>
<ul><li>We listen to what you have in mind and involve the Kid’s too productively, to ensure they feel a part of the design</li>
<li>Post the above process we try and filter out the best set up for you based on available space.</li>
<li>We work based on your likeness for best colour schemes for the kid’s room, designing a concept that delivers a creative yet imagination filled environment for the kids.</li>
<li>Furthermore, we offer you advice on choice of furniture so that kids can use the space properly without cluttering it with too much</li></ul>
<p>At Decorpot, we offer you services that go beyond just adding aesthetic value to your rooms and houses, we add that much needed energy into your homes to make it a beautiful yet productive space for the individuals residing in it. Similarly, when we design your child’s room, we ensure adherence to certain standards as below:</p>
                  <ul></li>We ensure that rooms for children are colourful yet elegant, with right touch of design elements</li>
               <li>We child-proof the rooms, in order to keep your kids safe in this fun space.</li>
<li>We offer your children a room that helps them play as well as study, all in the same available space.</li></ul>

               </div>
            </div>
         </div>
      </section>
      <!-- ======= Kitchen Gallery ======= -->
      <section class="slider_section pt-1 section  ">
         <div class="container position-relative pb-5">
            <div class="section-title ">
               <h2 class="text-center  mb-5">Gallery</h2>
            </div>
            <div class="row project_gallery">
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/children-room-6.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/children-room-6.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/children-room-5.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/children-room-5.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/children-room-4.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/children-room-4.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/children-room-3.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/children-room-3.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/children-room-2.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/children-room-2.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/children-room-1.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/children-room-1.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/children-room-10.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/children-room-10.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/children-room-9.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/children-room-9.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/children-room-8.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/children-room-8.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/children-room-1.webp' %}" class="galelry-lightbox"><img src="{% static 'assets/images/children-room-1.webp' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/children-room-7.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/children-room-7.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
            </div>
         </div>
      </section>
     {% endblock %}
