{% extends 'base-header.html' %}
{% load static %}

   {% block content %}

     <div class="innerpage_banner_sec">
        <div class="innerpage_banner ">
           <img src="{% static 'assets/images/entryway-12-pair-shoe-storage-cabinet.jpg' %}" alt="">
        </div>
        <style>
           .innerpage_banner {
           background: #000;
           height: 100%;
           }
           .innerpage_banner_sec .innerpage_banner img {
           width: 100%;
           height: 100%;
           object-fit: cover;
           object-position: center;
           }
        </style>
        <div class="hero-wrap-item center-item">
           <!--     <h2><span style="color: #ffffff;">Cookery &#038; Shoe Rack</span></h2> -->
        </div>
     </div>
     <section class="about_sec section">
        <div class="container">
           <div class="row ">
              <div class="col-12">
                 <p>Interior designing has changed the world of elite living. This contemporary world requires everything with elegant beauty. With these requirements, shoe storage has become a complication for Indian homes. Since a shoe rack is the first thing that catches one’s eye, this has to look more inviting, smell-free, and aesthetic. Cozy Space designs the best concealed piece of furniture to meet your need for a shoe rack that makes your entrance look aesthetic.</p>
<p>At Cozy Space, our expert designers aid in providing a suitable shoe rack for your home. Wall mount shoe racks, metallic shoe racks, wooden shoe racks, and many more designs are available from which you can choose. A compact shoe rack usually serves the purpose. So, we design compact shoe racks yet leave abundant space to store all your shoes and stuff. </p>
<p>The right storage systems in a home can never fail to maximise its floorplan, leaving each room tidy and put together. If you’re looking to build well-planned storage in your spaces, the Beautiful Homes Service by Cozyspace offers a fuss-free solution for all your home décor and renovation needs. With a panel of expert designers (and a dedicated project manager on board), you can recreate every facet of your dream home without having to manage all the grunt work, coordination and heavy lifting on your own.
</p>
              </div>
           </div>
        </div>
     </section>
     <!-- ======= Kitchen Gallery ======= -->
     <section class="slider_section pt-1 section  ">
        <div class="container position-relative pb-5">
           <div class="section-title ">
              <h2 class="text-center  mb-5">Gallery</h2>
           </div>
           <div class="row project_gallery">
              <div class="col-lg-3 col-md-4 col-12 mb-3">
                 <div class="img_gallery"><a href="{% static 'assets/images/shoe-racks-1.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/shoe-racks-1.jpg' %}" alt="" class="img-fluid  " ></a></div>
              </div>
              <div class="col-lg-3 col-md-4 col-12 mb-3">
                 <div class="img_gallery"><a href="{% static 'assets/images/shoe-racks-1.jpeg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/shoe-racks-1.jpeg' %}" alt="" class="img-fluid  " ></a></div>
              </div>
              <div class="col-lg-3 col-md-4 col-12 mb-3">
                 <div class="img_gallery"><a href="{% static 'assets/images/shoe-racks-10.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/shoe-racks-10.jpg' %}" alt="" class="img-fluid  " ></a></div>
              </div>
              <div class="col-lg-3 col-md-4 col-12 mb-3">
                 <div class="img_gallery"><a href="{% static 'assets/images/shoe-racks-9.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/shoe-racks-9.jpg' %}" alt="" class="img-fluid  " ></a></div>
              </div>
              <div class="col-lg-3 col-md-4 col-12 mb-3">
                 <div class="img_gallery"><a href="{% static 'assets/images/shoe-racks-8.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/shoe-racks-8.jpg' %}" alt="" class="img-fluid  " ></a></div>
              </div>
              <div class="col-lg-3 col-md-4 col-12 mb-3">
                 <div class="img_gallery"><a href="{% static 'assets/images/shoe-racks-7.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/shoe-racks-7.jpg' %}" alt="" class="img-fluid  " ></a></div>
              </div>
              <div class="col-lg-3 col-md-4 col-12 mb-3">
                 <div class="img_gallery"><a href="{% static 'assets/images/shoe-racks-6.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/shoe-racks-6.jpg' %}" alt="" class="img-fluid  " ></a></div>
              </div>
              <div class="col-lg-3 col-md-4 col-12 mb-3">
                 <div class="img_gallery"><a href="{% static 'assets/images/shoe-racks-5.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/shoe-racks-5.jpg' %}" alt="" class="img-fluid  " ></a></div>
              </div>
              <div class="col-lg-3 col-md-4 col-12 mb-3">
                 <div class="img_gallery"><a href="{% static 'assets/images/shoe-racks-4.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/shoe-racks-4.jpg' %}" alt="" class="img-fluid  " ></a></div>
              </div>
              <div class="col-lg-3 col-md-4 col-12 mb-3">
                 <div class="img_gallery"><a href="{% static 'assets/images/shoe-racks-3.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/shoe-racks-3.jpg' %}" alt="" class="img-fluid  " ></a></div>
              </div>
              <div class="col-lg-3 col-md-4 col-12 mb-3">
                 <div class="img_gallery"><a href="{% static 'assets/images/shoe-racks-2.webp' %}" class="galelry-lightbox"><img src="{% static 'assets/images/shoe-racks-2.webp' %}" alt="" class="img-fluid  " ></a></div>
              </div>
              <div class="col-lg-3 col-md-4 col-12 mb-3">
                 <div class="img_gallery"><a href="{% static 'assets/images/shoe-racks-1.webp' %}" class="galelry-lightbox"><img src="{% static 'assets/images/shoe-racks-1.webp' %}" alt="" class="img-fluid  " ></a></div>
              </div>
           </div>
        </div>
     </section>
     {% endblock %}
