{% extends 'base-header.html' %}
{% load static %}

   {% block content %}

     <div class="innerpage_banner_sec">
        <div class="innerpage_banner ">
           <img src="{% static 'assets/images/entryway-12-pair-shoe-storage-cabinet.jpg' %}" alt="">
        </div>
        <style>
           .innerpage_banner {
           background: #000;
           height: 100%;
           }
           .innerpage_banner_sec .innerpage_banner img {
           width: 100%;
           height: 100%;
           object-fit: cover;
           object-position: center;
           }
        </style>
        <div class="hero-wrap-item center-item">
           <!--     <h2><span style="color: #ffffff;">Cookery &#038; Shoe Rack</span></h2> -->
        </div>
     </div>
     <section class="about_sec section">
        <div class="container">
           <div class="row ">
              <div class="col-12">
                 <p>Shoe storage is a problem that always vexes us, and, in most Indian homes, our footwear is found strewn across the space next to the front door. To create a more inviting (and aesthetic) look, a shoe rack or cabinet not only serves as a concealing piece of furniture that clears the entryway, but also doubles as a mantle piece to place a mirror, flowers or candles to freshen up the entrance of your home. In the bedroom, too, a simple shoe stand can make the space look less cluttered and neat</p>
<p>The right storage systems in a home can never fail to maximise its floorpan, leaving each room tidy and put together. If you’re looking to build well-planned storage in your spaces, the Beautiful Homes Service by cozyspace offers a fuss-free solution for all your home décor and renovation needs. With a panel of expert designers (and a dedicated project manager on board), you can recreate every facet of your dream home without having to manage all the grunt work, coordination and heavy lifting on your own.</p>
              </div>
           </div>
        </div>
     </section>
     <!-- ======= Kitchen Gallery ======= -->
     <section class="slider_section pt-1 section  ">
        <div class="container position-relative pb-5">
           <div class="section-title ">
              <h2 class="text-center  mb-5">Gallery</h2>
           </div>
           <div class="row project_gallery">
              <div class="col-lg-3 col-md-4 col-12 mb-3">
                 <div class="img_gallery"><a href="{% static 'assets/images/shoe-racks-1.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/shoe-racks-1.jpg' %}" alt="" class="img-fluid  " ></a></div>
              </div>
              <div class="col-lg-3 col-md-4 col-12 mb-3">
                 <div class="img_gallery"><a href="{% static 'assets/images/shoe-racks-1.jpeg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/shoe-racks-1.jpeg' %}" alt="" class="img-fluid  " ></a></div>
              </div>
              <div class="col-lg-3 col-md-4 col-12 mb-3">
                 <div class="img_gallery"><a href="{% static 'assets/images/shoe-racks-10.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/shoe-racks-10.jpg' %}" alt="" class="img-fluid  " ></a></div>
              </div>
              <div class="col-lg-3 col-md-4 col-12 mb-3">
                 <div class="img_gallery"><a href="{% static 'assets/images/shoe-racks-9.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/shoe-racks-9.jpg' %}" alt="" class="img-fluid  " ></a></div>
              </div>
              <div class="col-lg-3 col-md-4 col-12 mb-3">
                 <div class="img_gallery"><a href="{% static 'assets/images/shoe-racks-8.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/shoe-racks-8.jpg' %}" alt="" class="img-fluid  " ></a></div>
              </div>
              <div class="col-lg-3 col-md-4 col-12 mb-3">
                 <div class="img_gallery"><a href="{% static 'assets/images/shoe-racks-7.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/shoe-racks-7.jpg' %}" alt="" class="img-fluid  " ></a></div>
              </div>
              <div class="col-lg-3 col-md-4 col-12 mb-3">
                 <div class="img_gallery"><a href="{% static 'assets/images/shoe-racks-6.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/shoe-racks-6.jpg' %}" alt="" class="img-fluid  " ></a></div>
              </div>
              <div class="col-lg-3 col-md-4 col-12 mb-3">
                 <div class="img_gallery"><a href="{% static 'assets/images/shoe-racks-5.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/shoe-racks-5.jpg' %}" alt="" class="img-fluid  " ></a></div>
              </div>
              <div class="col-lg-3 col-md-4 col-12 mb-3">
                 <div class="img_gallery"><a href="{% static 'assets/images/shoe-racks-4.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/shoe-racks-4.jpg' %}" alt="" class="img-fluid  " ></a></div>
              </div>
              <div class="col-lg-3 col-md-4 col-12 mb-3">
                 <div class="img_gallery"><a href="{% static 'assets/images/shoe-racks-3.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/shoe-racks-3.jpg' %}" alt="" class="img-fluid  " ></a></div>
              </div>
              <div class="col-lg-3 col-md-4 col-12 mb-3">
                 <div class="img_gallery"><a href="{% static 'assets/images/shoe-racks-2.webp' %}" class="galelry-lightbox"><img src="{% static 'assets/images/shoe-racks-2.webp' %}" alt="" class="img-fluid  " ></a></div>
              </div>
              <div class="col-lg-3 col-md-4 col-12 mb-3">
                 <div class="img_gallery"><a href="{% static 'assets/images/shoe-racks-1.webp' %}" class="galelry-lightbox"><img src="{% static 'assets/images/shoe-racks-1.webp' %}" alt="" class="img-fluid  " ></a></div>
              </div>
           </div>
        </div>
     </section>
     {% endblock %}
