{% extends 'base-header.html' %}
{% load static %}

   {% block content %}

     <div class="innerpage_banner_sec">
        <div class="innerpage_banner ">
           <img src="{% static 'assets/images/ellen-auer-LIx9GfMB6ZM-unsplash-1.jpg' %}" alt="">
        </div>
        <style>
           .innerpage_banner {
           background: #000;
           height: 100%;
           }
           .innerpage_banner_sec .innerpage_banner img {
           width: 100%;
           height: 100%;
           object-fit: cover;
           object-position: center;
           }
        </style>
        <div class="hero-wrap-item center-item">
           <!--     <h2><span style="color: #ffffff;">Crockery Units</span></h2> -->
        </div>
     </div>
     <section class="about_sec section">
        <div class="container">
           <div class="row ">
              <div class="col-12">
                 <h1>Crockery Units</h1>
                 <p>Flaunting your collection of crockery makes you feel prouder and more prestigious of yourself. At Cozy space, we could impress you with our extensive collection of crockery that adds a mesmerising appearance to your dining space. Our designers prepare crockery interior designs with utmost commitment.</p>
<p>Elegant crockery designs would add an extraordinary look to your dining space. Usually, kitchen crockery units would be delicate and they are meant to be handled smoothly. Cozy space renders you the best modular crockery units that suit best to the interiors of your kitchen and dining space. </p>
<p>There are tons of crockery unit designs in the interior designing companies. But Cozy space delivers you the specific crockery units that sync with your taste, style and your kitchen interiors. If your kitchen is an open kitchen, its interior flow out to the dining space, where crockery unit interiors have its utmost priority. Our crockery units enhance your dining space and living room interiors while we also provide modern crockery cabinet designs to meet all your crockery storage needs. You can choose your favourite set of crockery unit designs out of a wide range of collections at Cozy space.</p>
                 <p><b>Types of Crockery</b></p>
                 <ul>
                    <li>Bone China. </li>
                    <li>Porcelain. </li>
                    <li>Terracotta</li>
                    <li>Stoneware</li>
                    <li>Melamine</li>
                    <li>Alumina</li>
                 </ul>
                 <p>Choose your kind of Crockery unit to make your dining space look adorable. Cozy space helps you in arranging all these crockery units in such a way, it adds elegance to your interiors. We suggest ideas and the best designs we have to design your house with these crockery units. Book a consultation with Cozy space today to have amazing interior designs to your home.</p>
                
              </div>
           </div>
        </div>
     </section>
     <!-- ======= Kitchen Gallery ======= -->
     <section class="slider_section pt-1 section  ">
        <div class="container position-relative pb-5">
           <div class="section-title ">
              <h2 class="text-center  mb-5">Gallery</h2>
           </div>
           <div class="row project_gallery">
              <div class="col-lg-3 col-md-4 col-12 mb-3">
                 <div class="img_gallery"><a href="{% static 'assets/images/Crockery-6.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/Crockery-6.jpg' %}" alt="" class="img-fluid  " ></a></div>
              </div>
              <div class="col-lg-3 col-md-4 col-12 mb-3">
                 <div class="img_gallery"><a href="{% static 'assets/images/Crockery-7.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/Crockery-7.jpg' %}" alt="" class="img-fluid  " ></a></div>
              </div>
              <div class="col-lg-3 col-md-4 col-12 mb-3">
                 <div class="img_gallery"><a href="{% static 'assets/images/Crockery-8.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/Crockery-8.jpg' %}" alt="" class="img-fluid  " ></a></div>
              </div>
              <div class="col-lg-3 col-md-4 col-12 mb-3">
                 <div class="img_gallery"><a href="{% static 'assets/images/Crockery-9.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/Crockery-9.jpg' %}" alt="" class="img-fluid  " ></a></div>
              </div>
              <div class="col-lg-3 col-md-4 col-12 mb-3">
                 <div class="img_gallery"><a href="{% static 'assets/images/Crockery-10.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/Crockery-10.jpg' %}" alt="" class="img-fluid  " ></a></div>
              </div>
              <div class="col-lg-3 col-md-4 col-12 mb-3">
                 <div class="img_gallery"><a href="{% static 'assets/images/Crockery-11.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/Crockery-11.jpg' %}" alt="" class="img-fluid  " ></a></div>
              </div>
              <div class="col-lg-3 col-md-4 col-12 mb-3">
                 <div class="img_gallery"><a href="{% static 'assets/images/Crockery-1.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/Crockery-1.jpg' %}" alt="" class="img-fluid  " ></a></div>
              </div>
              <div class="col-lg-3 col-md-4 col-12 mb-3">
                 <div class="img_gallery"><a href="{% static 'assets/images/Crockery-2.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/Crockery-2.jpg' %}" alt="" class="img-fluid  " ></a></div>
              </div>
              <div class="col-lg-3 col-md-4 col-12 mb-3">
                 <div class="img_gallery"><a href="{% static 'assets/images/Crockery-3.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/Crockery-3.jpg' %}" alt="" class="img-fluid  " ></a></div>
              </div>
              <div class="col-lg-3 col-md-4 col-12 mb-3">
                 <div class="img_gallery"><a href="{% static 'assets/images/Crockery-4.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/Crockery-4.jpg' %}" alt="" class="img-fluid  " ></a></div>
              </div>
              <div class="col-lg-3 col-md-4 col-12 mb-3">
                 <div class="img_gallery"><a href="{% static 'assets/images/Crockery-5.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/Crockery-5.jpg' %}" alt="" class="img-fluid  " ></a></div>
              </div>
           </div>
        </div>
     </section>
  {% endblock %}
