{% extends 'base-header.html' %}
{% load static %}

   {% block content %}

     <div class="innerpage_banner_sec">
        <div class="innerpage_banner ">
           <img src="{% static 'assets/images/ellen-auer-LIx9GfMB6ZM-unsplash-1.jpg' %}" alt="">
        </div>
        <style>
           .innerpage_banner {
           background: #000;
           height: 100%;
           }
           .innerpage_banner_sec .innerpage_banner img {
           width: 100%;
           height: 100%;
           object-fit: cover;
           object-position: center;
           }
        </style>
        <div class="hero-wrap-item center-item">
           <!--     <h2><span style="color: #ffffff;">Crockery Units</span></h2> -->
        </div>
     </div>
     <section class="about_sec section">
        <div class="container">
           <div class="row ">
              <div class="col-12">
                 <h1>Crockery Units</h1>
                 <p>Flaunt your extensive collection of crockery into this unit for a beautiful appearance and cozy space is known for the best crockery units and there designs and they also help to design things to show case the crockery items with there Interior design techniques and also crockery items selectors for the particular Interior Design choosen.</p>
<p>Flaunt your extensive collection of crockery into this unit for a beautiful appearance. Furniture with an elegant design like this adds an outstanding look to your dining room. Crockery items are very delicate and they must be handled carefully by placing them in a safe place and Magnon helps designing Crockery items and also the Interior designs for the items.</p>
<p>Due to availability of modern architecture and designs, it has become easier to get finest crockery units to store away collectibles. Usually, an open kitchen flows into a dining space which then leads seamlessly into a living room. We provide various interior designs to enhance living and dining space with modern crockery cabinet designs, which will meet your storage need. These crockery units are elegantly designed to match with any living-and-dining space. We offer you a wide variety of kitchen crockery units to suit a variety of tastes and choosing the crockery items one must consult Cozysapce.</p>
                 <p><b>Types of Crockery</b></p>
                 <ul>
                    <li>Bone China. Sophisticated, elegant and remarkably strong, bone china is the hallmark of quality.</li>
                    <li>Porcelain. Porcelain is usually hard, white and slightly translucent</li>
                    <li>Earthenware. Earthenware was among the first forms of pottery ever made</li>
                    <li>Stoneware</li>
                    <li>Alumina</li>
                    <li>Melamine</li>
                 </ul>
                 <p>Terracotta. and one can choose the best crockery units to there house and Cozysapce will help you choose the best units of crockery and to arrange to those items in a well defined manner , Cozysapce will also provide the Designs and the crockery items can be best show cased and use of accessibility can be made of ease.</p>
                
              </div>
           </div>
        </div>
     </section>
     <!-- ======= Kitchen Gallery ======= -->
     <section class="slider_section pt-1 section  ">
        <div class="container position-relative pb-5">
           <div class="section-title ">
              <h2 class="text-center  mb-5">Gallery</h2>
           </div>
           <div class="row project_gallery">
              <div class="col-lg-3 col-md-4 col-12 mb-3">
                 <div class="img_gallery"><a href="{% static 'assets/images/Crockery-6.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/Crockery-6.jpg' %}" alt="" class="img-fluid  " ></a></div>
              </div>
              <div class="col-lg-3 col-md-4 col-12 mb-3">
                 <div class="img_gallery"><a href="{% static 'assets/images/Crockery-7.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/Crockery-7.jpg' %}" alt="" class="img-fluid  " ></a></div>
              </div>
              <div class="col-lg-3 col-md-4 col-12 mb-3">
                 <div class="img_gallery"><a href="{% static 'assets/images/Crockery-8.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/Crockery-8.jpg' %}" alt="" class="img-fluid  " ></a></div>
              </div>
              <div class="col-lg-3 col-md-4 col-12 mb-3">
                 <div class="img_gallery"><a href="{% static 'assets/images/Crockery-9.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/Crockery-9.jpg' %}" alt="" class="img-fluid  " ></a></div>
              </div>
              <div class="col-lg-3 col-md-4 col-12 mb-3">
                 <div class="img_gallery"><a href="{% static 'assets/images/Crockery-10.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/Crockery-10.jpg' %}" alt="" class="img-fluid  " ></a></div>
              </div>
              <div class="col-lg-3 col-md-4 col-12 mb-3">
                 <div class="img_gallery"><a href="{% static 'assets/images/Crockery-11.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/Crockery-11.jpg' %}" alt="" class="img-fluid  " ></a></div>
              </div>
              <div class="col-lg-3 col-md-4 col-12 mb-3">
                 <div class="img_gallery"><a href="{% static 'assets/images/Crockery-1.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/Crockery-1.jpg' %}" alt="" class="img-fluid  " ></a></div>
              </div>
              <div class="col-lg-3 col-md-4 col-12 mb-3">
                 <div class="img_gallery"><a href="{% static 'assets/images/Crockery-2.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/Crockery-2.jpg' %}" alt="" class="img-fluid  " ></a></div>
              </div>
              <div class="col-lg-3 col-md-4 col-12 mb-3">
                 <div class="img_gallery"><a href="{% static 'assets/images/Crockery-3.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/Crockery-3.jpg' %}" alt="" class="img-fluid  " ></a></div>
              </div>
              <div class="col-lg-3 col-md-4 col-12 mb-3">
                 <div class="img_gallery"><a href="{% static 'assets/images/Crockery-4.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/Crockery-4.jpg' %}" alt="" class="img-fluid  " ></a></div>
              </div>
              <div class="col-lg-3 col-md-4 col-12 mb-3">
                 <div class="img_gallery"><a href="{% static 'assets/images/Crockery-5.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/Crockery-5.jpg' %}" alt="" class="img-fluid  " ></a></div>
              </div>
           </div>
        </div>
     </section>
  {% endblock %}
