{% extends 'base-header.html' %}
{% load static %}

   {% block content %}
      <div class="innerpage_banner_sec">
         <div class="innerpage_banner ">
            <img src="{% static 'assets/images/ent1.jpg' %}" alt="">
         </div>
         <style>
            .innerpage_banner {
            background: #000;
            height: 100%;
            }
            .innerpage_banner_sec .innerpage_banner img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            }
         </style>
         <div class="hero-wrap-item center-item">
            <!--     <h2><span style="color: #ffffff;">Entertainment Unit</span></h2> -->
         </div>
      </div>
      <section class="about_sec section">
         <div class="container">
            <div class="row ">
               <div class="col-12">
                  <h1>Entertainment Unit</h1>
                  <p>TV Consoles and many other interior designs have been absorbed lately to make sure all the gadgets of entertainment are arranged spick and span. Conventionally putting a TV on a table is no longer captivating for any house. Even the entertainment gadgets used in the house are kept hypothetically so they would add an attractive gaze to the interiors of the home. Interior designing of the entertainment unit is done in such a way that it would enhance the look of the interior and also provides an excellent entertainment experience. Cozy space offers you everything under entertainment unit interior design right from remote-controlled modern fireplaces to floating TV stands. Our collections include everything you need in one stop. So, nothing can stop you to entertain yourself!!!</p>
                  <p>Tailor-made designs for an entertainment unit have different stand-ins depending on the entertainment gadgets used. Entertainment units are formulated to space consciously as some may fill up the whole wall while some designs may only require confined space. Materials used for this entertainment unit range from wood, plastic, and sometimes even fiberglass is also used. The design of the entertainment unit is completely customized as per the client’s prerequisites.</p>
                  <p>Interior designing with an entertainment unit will give an immense pleasure while we are being beguiled at the same time. At cozy space, we have the best huddle of TV stands and consoles that suits perfectly for thin and thick screens. The stands and consoles also have some special storage space to secure DVDs, cassettes, games, and other media players as well. You can choose your favorite set from our extensive collections.</p>
                  <p>We are idiosyncratic in rendering our services in the arena of interior designing of entertainment units. We plan the designs that are space conscious yet offer plenty of appealing visuals to the home. Conventional interior designs for entertainment units may take space and even offer less storage space, but with our modern designs, we make sure both visual appearance and storage space are at counterbalance. We respect our client’s preferences and the styles they choose. We have both spacious as well precise designs of entertainment units. Since the modern era has been mostly in an apartment, there is a huge demand for minimal TV consoles and compact entertainment units. We render our best possible designs even if there is space constraint to the entertainment units you choose for your interior decors.</p>
               </div>
            </div>
         </div>
      </section>
      <!-- ======= Kitchen Gallery ======= -->
      <section class="slider_section pt-1 section  ">
         <div class="container position-relative pb-5">
            <div class="section-title ">
               <h2 class="text-center  mb-5">Gallery</h2>
            </div>
            <div class="hide_gallery" style="display: none">
               <p><img loading="lazy" src="{% static 'assets/images/entairnment-3.jpg' %}" alt="" width="800" height="600"  ></p>
               <p><img loading="lazy" src="{% static 'assets/images/entairnment-5.jpg' %}" alt="" width="800" height="600"  ></p>
               <p><img loading="lazy" src="{% static 'assets/images/entairnment-6.jpg' %}" alt="" width="940" height="564"  ></p>
               <p><img loading="lazy" src="{% static 'assets/images/entairnment-7.jpg' %}" alt="" width="1000" height="667"  ></p>
               <p><img loading="lazy" src="{% static 'assets/images/entairnment-8.jpg' %}" alt="" width="750" height="500"  ></p>
               <p><img loading="lazy" src="{% static 'assets/images/entairnment-9.jpg' %}" alt="" width="775" height="506"  ></p>
               <p><img loading="lazy" src="{% static 'assets/images/entairnment-1.jpeg' %}" alt="" width="1280" height="960"  ></p>
               <p><img loading="lazy" src="{% static 'assets/images/entairnment-1.jpg' %}" alt="" width="701" height="466"  ></p>
               <p><img loading="lazy" src="{% static 'assets/images/entairnment-1.webp' %}" alt="" width="1200" height="1200"  ></p>
               <p><img loading="lazy" src="{% static 'assets/images/entairnment-2.jpg' %}" alt="" width="1920" height="1280"  ></p>
            </div>
            <div class="row project_gallery">
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/entairnment-3.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/entairnment-3.jpg' %}" alt="" class="img-fluid  " style="height: 270px;"></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/entairnment-5.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/entairnment-5.jpg' %}" alt="" class="img-fluid  " style="height: 270px;"></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/entairnment-6.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/entairnment-6.jpg' %}" alt="" class="img-fluid  " style="height: 270px;"></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/entairnment-7.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/entairnment-7.jpg' %}" alt="" class="img-fluid  " style="height: 270px;"></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/entairnment-8.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/entairnment-8.jpg' %}" alt="" class="img-fluid  " style="height: 270px;"></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/entairnment-9.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/entairnment-9.jpg' %}" alt="" class="img-fluid  " style="height: 270px;"></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/entairnment-1.jpeg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/entairnment-1.jpeg' %}" alt="" class="img-fluid  " style="height: 270px;"></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/entairnment-1.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/entairnment-1.jpg' %}" alt="" class="img-fluid  " style="height: 270px;"></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/entairnment-1.webp' %}" class="galelry-lightbox"><img src="{% static 'assets/images/entairnment-1.webp' %}" alt="" class="img-fluid  " style="height: 270px;"></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/entairnment-2.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/entairnment-2.jpg' %}" alt="" class="img-fluid  " style="height: 270px;"></a></div>
               </div>
            </div>
         </div>
      </section>
{% endblock %}
