{% extends 'base-header.html' %}
{% load static %}

   {% block content %}
      <div class="innerpage_banner_sec">
         <div class="innerpage_banner ">
            <img src="{% static 'assets/images/ent1.jpg' %}" alt="">
         </div>
         <style>
            .innerpage_banner {
            background: #000;
            height: 100%;
            }
            .innerpage_banner_sec .innerpage_banner img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            }
         </style>
         <div class="hero-wrap-item center-item">
            <!--     <h2><span style="color: #ffffff;">Entertainment Unit</span></h2> -->
         </div>
      </div>
      <section class="about_sec section">
         <div class="container">
            <div class="row ">
               <div class="col-12">
                  <h1>Entertainment Unit</h1>
                  <p>Whether you decide to mount your TV on the wall or have it sit on a stand, a TV console is the perfect way to enrich your entertainment experience. Plus, by providing ample storage for your media essentials and a solution to stash away unsightly clutter, the right entertainment unit can also give your decor an extra injection of cleanliness and style. From units with remote controlled modern fireplaces that make catching up on your favorite TV shows extra cozy to sleek floating TV stands that keep your floor clear and your media organized, our collection includes it all. So, sit back, relax, and enjoy the show!</p>
                  <p>Modern TV stand assortment offers a lot of different options when it comes to aesthetics and practicality. Some units are thin and space-conscious while others occupy entire walls providing plenty of storage space. Materials vary from solid wood to plastic and fiberglass, and the shapes are as different as human imagination allows.</p>
                  <p>Make the most of your viewing pleasure with a small TV unit that doesn’t take your attention away from the screen. If you’re after compact and sturdy, look no further than our collections of TV units that are perfect for flatscreen TVs. And as well as providing plenty of support, many have storage space for DVDs, games or different kinds of media players. Scroll down, for your TV unit that most suits your needs.</p>
                  <p>Like any other furniture, Entertainment or TV units are usually large and require a lot of space. In return, they offer plenty of visual appeal and storage space. They are ideal for spacious open plan homes as they help create a focal point. We all have our styles and preferences. However, recently there has been a demand for minimal and contemporary TV unit designs of different sizes that can easily fit in modern apartments. But if the artist in you wants something more dramatic, you can go with it!</p>
               </div>
            </div>
         </div>
      </section>
      <!-- ======= Kitchen Gallery ======= -->
      <section class="slider_section pt-1 section  ">
         <div class="container position-relative pb-5">
            <div class="section-title ">
               <h2 class="text-center  mb-5">Gallery</h2>
            </div>
            <div class="hide_gallery" style="display: none">
               <p><img loading="lazy" src="{% static 'assets/images/entairnment-3.jpg' %}" alt="" width="800" height="600"  ></p>
               <p><img loading="lazy" src="{% static 'assets/images/entairnment-5.jpg' %}" alt="" width="800" height="600"  ></p>
               <p><img loading="lazy" src="{% static 'assets/images/entairnment-6.jpg' %}" alt="" width="940" height="564"  ></p>
               <p><img loading="lazy" src="{% static 'assets/images/entairnment-7.jpg' %}" alt="" width="1000" height="667"  ></p>
               <p><img loading="lazy" src="{% static 'assets/images/entairnment-8.jpg' %}" alt="" width="750" height="500"  ></p>
               <p><img loading="lazy" src="{% static 'assets/images/entairnment-9.jpg' %}" alt="" width="775" height="506"  ></p>
               <p><img loading="lazy" src="{% static 'assets/images/entairnment-1.jpeg' %}" alt="" width="1280" height="960"  ></p>
               <p><img loading="lazy" src="{% static 'assets/images/entairnment-1.jpg' %}" alt="" width="701" height="466"  ></p>
               <p><img loading="lazy" src="{% static 'assets/images/entairnment-1.webp' %}" alt="" width="1200" height="1200"  ></p>
               <p><img loading="lazy" src="{% static 'assets/images/entairnment-2.jpg' %}" alt="" width="1920" height="1280"  ></p>
            </div>
            <div class="row project_gallery">
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/entairnment-3.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/entairnment-3.jpg' %}" alt="" class="img-fluid  " style="height: 270px;"></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/entairnment-5.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/entairnment-5.jpg' %}" alt="" class="img-fluid  " style="height: 270px;"></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/entairnment-6.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/entairnment-6.jpg' %}" alt="" class="img-fluid  " style="height: 270px;"></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/entairnment-7.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/entairnment-7.jpg' %}" alt="" class="img-fluid  " style="height: 270px;"></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/entairnment-8.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/entairnment-8.jpg' %}" alt="" class="img-fluid  " style="height: 270px;"></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/entairnment-9.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/entairnment-9.jpg' %}" alt="" class="img-fluid  " style="height: 270px;"></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/entairnment-1.jpeg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/entairnment-1.jpeg' %}" alt="" class="img-fluid  " style="height: 270px;"></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/entairnment-1.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/entairnment-1.jpg' %}" alt="" class="img-fluid  " style="height: 270px;"></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/entairnment-1.webp' %}" class="galelry-lightbox"><img src="{% static 'assets/images/entairnment-1.webp' %}" alt="" class="img-fluid  " style="height: 270px;"></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/entairnment-2.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/entairnment-2.jpg' %}" alt="" class="img-fluid  " style="height: 270px;"></a></div>
               </div>
            </div>
         </div>
      </section>
{% endblock %}
