{% extends 'base-header.html' %}
{% load static %}

{% block content %}
<style>
  .response_output {
    margin: 2em 0.5em 1em;
    padding: 0.2em 1em;
    border: 2px solid #00a0d2;
    /* Blue */
  }
</style>

<div class="hero-wrap">
  <div class="slideshow-item owl-carousel owl-loaded owl-drag skrollable skrollable-between"
    data-bottom-top="transform: translate3d(0px, -80%, 0px);" data-top-bottom="transform: translate3d(0px, 80%, 0px);"
    style="transform: translate3d(0px, -0.0544588%, 0px);">



    <div class="owl-stage-outer">
      <div class="owl-stage"
        style="transform: translate3d(-4437px, 0px, 0px); transition: all 0s ease 0s; width: 10353px;">
        <div class="owl-item cloned" style="width: 1479px;">
          <div class="item" style="height: 735px;">
            <div class="bg" style="background-image:url(https://hometrenz.com/uploaddata/2016/03/4.jpg)"></div>
          </div>
        </div>
        <div class="owl-item cloned" style="width: 1479px;">
          <div class="item" style="height: 735px;">
            <div class="bg" style="background-image:url(https://hometrenz.com/uploaddata/2016/11/bg1-1.jpg)"></div>
          </div>
        </div>
        <div class="owl-item" style="width: 1479px;">
          <div class="item" style="height: 735px;">
            <div class="bg" style="background-image:url(https://hometrenz.com/uploaddata/2016/03/3.jpg)"></div>
          </div>
        </div>
        <div class="owl-item active" style="width: 1479px;">
          <div class="item" style="height: 735px;">
            <div class="bg" style="background-image:url(https://hometrenz.com/uploaddata/2016/03/4.jpg)"></div>
          </div>
        </div>
        <div class="owl-item" style="width: 1479px;">
          <div class="item" style="height: 735px;">
            <div class="bg" style="background-image:url(https://hometrenz.com/uploaddata/2016/11/bg1-1.jpg)"></div>
          </div>
        </div>
        <div class="owl-item cloned" style="width: 1479px;">
          <div class="item" style="height: 735px;">
            <div class="bg" style="background-image:url(https://hometrenz.com/uploaddata/2016/03/3.jpg)"></div>
          </div>
        </div>
        <div class="owl-item cloned" style="width: 1479px;">
          <div class="item" style="height: 735px;">
            <div class="bg" style="background-image:url(https://hometrenz.com/uploaddata/2016/03/4.jpg)"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="hero-wrap-item center-item">
    <div class="container">
      <h2><span style="color: #ffffff;">Dream It, We Make It</span></h2>
    </div>
  </div>
</div>
<section class="about_sec section">
  <div class="container">
    <div class="row border-box">
      <div class=" d-none d-lg-block col-lg-4 col-12">
        <div class="parallax-box slider-box skrollable skrollable-before"
          data-top-bottom="transform: translateY(-150px);" data-bottom-top="transform: translateY(150px);"
          style="transform: translateY(150px);">
          <img width="600" height="1000" class="img-fluid" src="{% static 'assets/images/abt-img-2.jpg' %}">
        </div>
      </div>
      <div class="col-lg-8 col-12">
        <img src="{% static 'assets/images/kitchen-1.jpg' %}" class="img-fluid d-block d-md-block d-lg-none ">
        <h2 class="section-title">Welcome to&nbsp; <img src="{% static 'assets/images/logo-txt.png' %}"></h2>
        <p>CozySpace is a pioneer in providing interior designing services all over India and headquartered in the pearl
          city- Hyderabad.</p>
        <p>Our expert designers are well trained and equipped with major modern interior designing tools that help us
          provide you with innovative solutions and unique Interior decor plans that stand out.</p>
        <p>We are a one-stop-shop solution to all your interior designing needs and our computer imaging will offer you
          detailed views of the complete commercial/residence project. Our talented designer team will work with the
          clients to custom design their spaces and the construction lead will ensure a perfect execution onsite per the
          agreed timelines.</p>
        <p>Our reviews and awards speak to our expertise in the interior design arena. We are rated amongst the <a
            href="index.html">best interior designers</a> of South India and have won accolades from our clients for our
          custom design conceptions and top-notch execution.</p>
        <p>Customer happiness is our Success.</p>
        <div class="process-box">
          <h3>Our process</h3>
          <ul class="creat-list">
            <li><a href="http://cozyspace.in/#">Idea &amp; Start</a></li>
            <li><a href="http://cozyspace.in/#">Design &amp; Create</a></li>
            <li><a href="http://cozyspace.in/#">Build &amp; Finish</a></li>
          </ul>
          <!--           <a class="btn anim-button fl-l mt-5" href=""><span class="no-rep">View Our Services</span><i class="fa fa-long-arrow-right"></i></a> -->
        </div>
      </div>
    </div>
  </div>
</section>
<div class="title_section text-center">
  <h2 class="display-4 fw-bold ">Design Highlights</h2>
</div>
<!-- ======= Kitchen Gallery ======= -->
<section class="slider_section pt-5 section ">
  <div class="container position-relative">
    <div class="section-title skroll-title skrollable skrollable-before"
      data-top-bottom="transform: translateY(-100px);" data-bottom-top="transform: translateY(100px);"
      style="transform: translateY(100px);">
      <h2 class="text-center fw-light mb-3">Kitchen</h2>
    </div>
    <div class="position-relative px-5">
      <div class="kitchen_prev  position-absolute top-50  start-0">
        <!--              <img src="http://cozyspace.in/wp-content/themes/cozy-space/assets/img/left-arrow.png"> -->
        <i class="fa fa-angle-left" aria-hidden="true"></i>
      </div>
      <div class="kitchen_gallery gallery_slider owl-carousel px-5 owl-loaded owl-drag">

        <div class="owl-stage-outer">
          <div class="owl-stage"
            style="transform: translate3d(-4920px, 0px, 0px); transition: all 0s ease 0s; width: 19680px;">
            <div class="owl-item cloned">
              <div class="item">
                <div class="gallery-item">
                  <a href="{% static 'assets/images/kitchen-6.jpg' %}" class="galelry-lightbox">
                    <img src="{% static 'assets/images/kitchen-6.jpg' %}" alt="" class="img-fluid rounded ">
                  </a>
                </div>
              </div>
            </div>
            <div class="owl-item cloned">
              <div class="item">
                <div class="gallery-item">
                  <a href="{% static 'assets/images/kitchen-7.jpg' %}" class="galelry-lightbox">
                    <img src="{% static 'assets/images/kitchen-7.jpg' %}" alt="" class="img-fluid rounded ">
                  </a>
                </div>
              </div>
            </div>
            <div class="owl-item cloned">
              <div class="item">
                <div class="gallery-item">
                  <a href="{% static 'assets/images/kitchen-8.jpg' %}" class="galelry-lightbox">
                    <img src="{% static 'assets/images/kitchen-8.jpg' %}" alt="" class="img-fluid rounded ">
                  </a>
                </div>
              </div>
            </div>
            <div class="owl-item cloned">
              <div class="item">
                <div class="gallery-item">
                  <a href="{% static 'assets/images/kitchen-9.jpg' %}" class="galelry-lightbox">
                    <img src="{% static 'assets/images/kitchen-9.jpg' %}" alt="" class="img-fluid rounded ">
                  </a>
                </div>
              </div>
            </div>
            <div class="owl-item cloned">
              <div class="item">
                <div class="gallery-item">
                  <a href="{% static 'assets/images/kitchen-10.jpg' %}" class="galelry-lightbox">
                    <img src="{% static 'assets/images/kitchen-10.jpg' %}" alt="" class="img-fluid rounded ">
                  </a>
                </div>
              </div>
            </div>
            <div class="owl-item active">
              <div class="item">
                <div class="gallery-item">
                  <a href="{% static 'assets/images/kitchen-4.jpg' %}" class="galelry-lightbox">
                    <img src="{% static 'assets/images/kitchen-4.jpg' %}" alt="" class="img-fluid rounded ">
                  </a>
                </div>
              </div>
            </div>
            <div class="owl-item">
              <div class="item">
                <div class="gallery-item">
                  <a href="{% static 'assets/images/kitchen-5.jpg' %}" class="galelry-lightbox">
                    <img src="{% static 'assets/images/kitchen-5.jpg' %}" alt="" class="img-fluid rounded ">
                  </a>
                </div>
              </div>
            </div>
            <div class="owl-item">
              <div class="item">
                <div class="gallery-item">
                  <a href="{% static 'assets/images/kitchen-1(1).jpg' %}" class="galelry-lightbox">
                    <img src="{% static 'assets/images/kitchen-1(1).jpg' %}" alt="" class="img-fluid rounded ">
                  </a>
                </div>
              </div>
            </div>
            <div class="owl-item">
              <div class="item">
                <div class="gallery-item">
                  <a href="{% static 'assets/images/kitchen-2.jpg' %}" class="galelry-lightbox">
                    <img src="{% static 'assets/images/kitchen-2.jpg' %}" alt="" class="img-fluid rounded ">
                  </a>
                </div>
              </div>
            </div>
            <div class="owl-item">
              <div class="item">
                <div class="gallery-item">
                  <a href="{% static 'assets/images/kitchen-3.jpg' %}" class="galelry-lightbox">
                    <img src="{% static 'assets/images/kitchen-3.jpg' %}" alt="" class="img-fluid rounded ">
                  </a>
                </div>
              </div>
            </div>
            <div class="owl-item">
              <div class="item">
                <div class="gallery-item">
                  <a href="{% static 'assets/images/kitchen-6.jpg' %}" class="galelry-lightbox">
                    <img src="{% static 'assets/images/kitchen-6.jpg' %}" alt="" class="img-fluid rounded ">
                  </a>
                </div>
              </div>
            </div>
            <div class="owl-item">
              <div class="item">
                <div class="gallery-item">
                  <a href="{% static 'assets/images/kitchen-7.jpg' %}" class="galelry-lightbox">
                    <img src="{% static 'assets/images/kitchen-7.jpg' %}" alt="" class="img-fluid rounded ">
                  </a>
                </div>
              </div>
            </div>
            <div class="owl-item">
              <div class="item">
                <div class="gallery-item">
                  <a href="{% static 'assets/images/kitchen-8.jpg' %}" class="galelry-lightbox">
                    <img src="{% static 'assets/images/kitchen-8.jpg' %}" alt="" class="img-fluid rounded ">
                  </a>
                </div>
              </div>
            </div>
            <div class="owl-item">
              <div class="item">
                <div class="gallery-item">
                  <a href="{% static 'assets/images/kitchen-9.jpg' %}" class="galelry-lightbox">
                    <img src="{% static 'assets/images/kitchen-9.jpg' %}" alt="" class="img-fluid rounded ">
                  </a>
                </div>
              </div>
            </div>
            <div class="owl-item">
              <div class="item">
                <div class="gallery-item">
                  <a href="{% static 'assets/images/kitchen-10.jpg' %}" class="galelry-lightbox">
                    <img src="{% static 'assets/images/kitchen-10.jpg' %}" alt="" class="img-fluid rounded ">
                  </a>
                </div>
              </div>
            </div>
            <div class="owl-item cloned">
              <div class="item">
                <div class="gallery-item">
                  <a href="{% static 'assets/images/kitchen-4.jpg' %}" class="galelry-lightbox">
                    <img src="{% static 'assets/images/kitchen-4.jpg' %}" alt="" class="img-fluid rounded ">
                  </a>
                </div>
              </div>
            </div>
            <div class="owl-item cloned">
              <div class="item">
                <div class="gallery-item">
                  <a href="{% static 'assets/images/kitchen-5.jpg' %}" class="galelry-lightbox">
                    <img src="{% static 'assets/images/kitchen-5.jpg' %}" alt="" class="img-fluid rounded ">
                  </a>
                </div>
              </div>
            </div>
            <div class="owl-item cloned">
              <div class="item">
                <div class="gallery-item">
                  <a href="{% static 'assets/images/kitchen-1(1).jpg' %}" class="galelry-lightbox">
                    <img src="{% static 'assets/images/kitchen-1(1}).jpg' %}" alt="" class="img-fluid rounded ">
                  </a>
                </div>
              </div>
            </div>
            <div class="owl-item cloned">
              <div class="item">
                <div class="gallery-item">
                  <a href="{% static 'assets/images/kitchen-2.jpg' %}" class="galelry-lightbox">
                    <img src="{% static 'assets/images/kitchen-2.jpg' %}" alt="" class="img-fluid rounded ">
                  </a>
                </div>
              </div>
            </div>
            <div class="owl-item cloned">
              <div class="item">
                <div class="gallery-item">
                  <a href="{% static 'assets/images/kitchen-3.jpg' %}" class="galelry-lightbox">
                    <img src="{% static 'assets/images/kitchen-3.jpg' %}" alt="" class="img-fluid rounded ">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="kitchen_next  position-absolute top-50  end-0 ">
        <!-- <img src="http://cozyspace.in/wp-content/themes/cozy-space/assets/img/right-arrow.png"> -->
        <i class="fa fa-angle-right" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</section><!-- End Bedroom gallery Section -->
<!-- ======= Bedroom Gallery ======= -->
<section class="slider_section pt-5 section">
  <div class="container position-relative">
    <div class="section-title skroll-title skrollable skrollable-before"
      data-top-bottom="transform: translateY(-100px);" data-bottom-top="transform: translateY(100px);"
      style="transform: translateY(100px);">
      <h2 class="text-center fw-light mb-3">Bed Room</h2>
    </div>
    <div class="position-relative px-5">
      <div class="kitchen_prev  position-absolute top-50  start-0">
        <!-- <img src="http://cozyspace.in/wp-content/themes/cozy-space/assets/img/left-arrow.png"> -->
        <i class="fa fa-angle-left" aria-hidden="true"></i>
      </div>
      <div class="kitchen_gallery gallery_slider owl-carousel px-5 owl-loaded owl-drag">








        <div class="owl-stage-outer">
          <div class="owl-stage"
            style="transform: translate3d(-3936px, 0px, 0px); transition: all 0s ease 0s; width: 15744px;">
            <div class="owl-item cloned">
              <div class="item">
                <div class="gallery-item">
                  <a href="{% static 'assets/images/bedroom-3.jpg' %}" class="galelry-lightbox">
                    <img src="{% static 'assets/images/bedroom-3.jpg' %}" alt="" class="img-fluid rounded ">
                  </a>
                </div>
              </div>
            </div>
            <div class="owl-item cloned">
              <div class="item">
                <div class="gallery-item">
                  <a href="{% static 'assets/images/bedroom-6.jpg' %}" class="galelry-lightbox">
                    <img src="{% static 'assets/images/bedroom-6.jpg' %}" alt="" class="img-fluid rounded ">
                  </a>
                </div>
              </div>
            </div>
            <div class="owl-item cloned">
              <div class="item">
                <div class="gallery-item">
                  <a href="{% static 'assets/images/bedroom-7.jpg' %}" class="galelry-lightbox">
                    <img src="{% static 'assets/images/bedroom-7.jpg' %}" alt="" class="img-fluid rounded ">
                  </a>
                </div>
              </div>
            </div>
            <div class="owl-item cloned">
              <div class="item">
                <div class="gallery-item">
                  <a href="{% static 'assets/images/bedroom-8.jpg' %}" class="galelry-lightbox">
                    <img src="{% static 'assets/images/bedroom-8.jpg' %}" alt="" class="img-fluid rounded ">
                  </a>
                </div>
              </div>
            </div>
            <div class="owl-item active">
              <div class="item">
                <div class="gallery-item">
                  <a href="{% static 'assets/images/bedroom-4.jpg' %}" class="galelry-lightbox">
                    <img src="{% static 'assets/images/bedroom-4.jpg' %}" alt="" class="img-fluid rounded ">
                  </a>
                </div>
              </div>
            </div>
            <div class="owl-item">
              <div class="item">
                <div class="gallery-item">
                  <a href="{% static 'assets/images/bedroom-5.jpg' %}" class="galelry-lightbox">
                    <img src="{% static 'assets/images/bedroom-5.jpg' %}" alt="" class="img-fluid rounded ">
                  </a>
                </div>
              </div>
            </div>
            <div class="owl-item">
              <div class="item">
                <div class="gallery-item">
                  <a href="{% static 'assets/images/bedroom-1.jpg' %}" class="galelry-lightbox">
                    <img src="{% static 'assets/images/bedroom-1.jpg' %}" alt="" class="img-fluid rounded ">
                  </a>
                </div>
              </div>
            </div>
            <div class="owl-item">
              <div class="item">
                <div class="gallery-item">
                  <a href="{% static 'assets/images/bedroom-2.jpg' %}" class="galelry-lightbox">
                    <img src="{% static 'assets/images/bedroom-2.jpg' %}" alt="" class="img-fluid rounded ">
                  </a>
                </div>
              </div>
            </div>
            <div class="owl-item">
              <div class="item">
                <div class="gallery-item">
                  <a href="{% static 'assets/images/bedroom-3.jpg' %}" class="galelry-lightbox">
                    <img src="{% static 'assets/images/bedroom-3.jpg' %}" alt="" class="img-fluid rounded ">
                  </a>
                </div>
              </div>
            </div>
            <div class="owl-item">
              <div class="item">
                <div class="gallery-item">
                  <a href="{% static 'assets/images/bedroom-6.jpg' %}" class="galelry-lightbox">
                    <img src="{% static 'assets/images/bedroom-6.jpg' %}" alt="" class="img-fluid rounded ">
                  </a>
                </div>
              </div>
            </div>
            <div class="owl-item">
              <div class="item">
                <div class="gallery-item">
                  <a href="{% static 'assets/images/bedroom-7.jpg' %}" class="galelry-lightbox">
                    <img src="{% static 'assets/images/bedroom-7.jpg' %}" alt="" class="img-fluid rounded ">
                  </a>
                </div>
              </div>
            </div>
            <div class="owl-item">
              <div class="item">
                <div class="gallery-item">
                  <a href="{% static 'assets/images/bedroom-8.jpg' %}" class="galelry-lightbox">
                    <img src="{% static 'assets/images/bedroom-8.jpg' %}" alt="" class="img-fluid rounded ">
                  </a>
                </div>
              </div>
            </div>
            <div class="owl-item cloned">
              <div class="item">
                <div class="gallery-item">
                  <a href="{% static 'assets/images/bedroom-4.jpg' %}" class="galelry-lightbox">
                    <img src="{% static 'assets/images/bedroom-4.jpg' %}" alt="" class="img-fluid rounded ">
                  </a>
                </div>
              </div>
            </div>
            <div class="owl-item cloned">
              <div class="item">
                <div class="gallery-item">
                  <a href="{% static 'assets/images/bedroom-5.jpg' %}" class="galelry-lightbox">
                    <img src="{% static 'assets/images/bedroom-5.jpg' %}" alt="" class="img-fluid rounded ">
                  </a>
                </div>
              </div>
            </div>
            <div class="owl-item cloned">
              <div class="item">
                <div class="gallery-item">
                  <a href="{% static 'assets/images/bedroom-1.jpg' %}" class="galelry-lightbox">
                    <img src="{% static 'assets/images/bedroom-1.jpg' %}" alt="" class="img-fluid rounded ">
                  </a>
                </div>
              </div>
            </div>
            <div class="owl-item cloned">
              <div class="item">
                <div class="gallery-item">
                  <a href="{% static 'assets/images/bedroom-2.jpg' %}" class="galelry-lightbox">
                    <img src="{% static 'assets/images/bedroom-2.jpg' %}" alt="" class="img-fluid rounded ">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="kitchen_next  position-absolute top-50  end-0 ">
        <!-- <img src="http://cozyspace.in/wp-content/themes/cozy-space/assets/img/right-arrow.png"> -->
        <i class="fa fa-angle-right" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</section><!-- End kitchen gallery Section -->
<!-- ======= Bedroom Gallery ======= -->
<section class="slider_section pt-5 section">
  <div class="container position-relative">
    <div class="section-title skroll-title skrollable skrollable-before"
      data-top-bottom="transform: translateY(-100px);" data-bottom-top="transform: translateY(100px);"
      style="transform: translateY(100px);">
      <h2 class="text-center fw-light mb-3">Living Room</h2>
    </div>
    <div class="position-relative px-5">
      <div class="kitchen_prev  position-absolute top-50  start-0">
        <!-- <img src="http://cozyspace.in/wp-content/themes/cozy-space/assets/img/left-arrow.png"> -->
        <i class="fa fa-angle-left" aria-hidden="true"></i>
      </div>
      <div class="kitchen_gallery gallery_slider owl-carousel px-5 owl-loaded owl-drag">

        <div class="owl-stage-outer">
          <div class="owl-stage"
            style="transform: translate3d(-3936px, 0px, 0px); transition: all 0s ease 0s; width: 14760px;">
            <div class="owl-item cloned">
              <div class="item">
                <div class="gallery-item">
                  <a href="{% static 'assets/images/living-room-4.jpg' %}" class="galelry-lightbox">
                    <img src="{% static 'assets/images/living-room-4.jpg' %}" alt="" class="img-fluid rounded ">
                  </a>
                </div>
              </div>
            </div>
            <div class="owl-item cloned">
              <div class="item">
                <div class="gallery-item">
                  <a href="{% static 'assets/images/living-room-5.jpg' %}" class="galelry-lightbox">
                    <img src="{% static 'assets/images/living-room-5.jpg' %}" alt="" class="img-fluid rounded ">
                  </a>
                </div>
              </div>
            </div>
            <div class="owl-item cloned">
              <div class="item">
                <div class="gallery-item">
                  <a href="{% static 'assets/images/living-room-6.jpg' %}" class="galelry-lightbox">
                    <img src="{% static 'assets/images/living-room-6.jpg' %}" alt="" class="img-fluid rounded ">
                  </a>
                </div>
              </div>
            </div>
            <div class="owl-item cloned">
              <div class="item">
                <div class="gallery-item">
                  <a href="{% static 'assets/images/living-room-7.jpg' %}" class="galelry-lightbox">
                    <img src="{% static 'assets/images/living-room-7.jpg' %}" alt="" class="img-fluid rounded ">
                  </a>
                </div>
              </div>
            </div>
            <div class="owl-item active">
              <div class="item">
                <div class="gallery-item">
                  <a href="{% static 'assets/images/living-room-1.jpg' %}" class="galelry-lightbox">
                    <img src="{% static 'assets/images/living-room-1.jpg' %}" alt="" class="img-fluid rounded ">
                  </a>
                </div>
              </div>
            </div>
            <div class="owl-item">
              <div class="item">
                <div class="gallery-item">
                  <a href="{% static 'assets/images/living-room-2.jpg' %}" class="galelry-lightbox">
                    <img src="{% static 'assets/images/living-room-2.jpg' %}" alt="" class="img-fluid rounded ">
                  </a>
                </div>
              </div>
            </div>
            <div class="owl-item">
              <div class="item">
                <div class="gallery-item">
                  <a href="{% static 'assets/images/living-room-3.jpg' %}" class="galelry-lightbox">
                    <img src="{% static 'assets/images/living-room-3.jpg' %}" alt="" class="img-fluid rounded ">
                  </a>
                </div>
              </div>
            </div>
            <div class="owl-item">
              <div class="item">
                <div class="gallery-item">
                  <a href="{% static 'assets/images/living-room-4.jpg' %}" class="galelry-lightbox">
                    <img src="{% static 'assets/images/living-room-4.jpg' %}" alt="" class="img-fluid rounded ">
                  </a>
                </div>
              </div>
            </div>
            <div class="owl-item">
              <div class="item">
                <div class="gallery-item">
                  <a href="{% static 'assets/images/living-room-5.jpg' %}" class="galelry-lightbox">
                    <img src="{% static 'assets/images/living-room-5.jpg' %}" alt="" class="img-fluid rounded ">
                  </a>
                </div>
              </div>
            </div>
            <div class="owl-item">
              <div class="item">
                <div class="gallery-item">
                  <a href="{% static 'assets/images/living-room-6.jpg' %}" class="galelry-lightbox">
                    <img src="{% static 'assets/images/living-room-6.jpg' %}" alt="" class="img-fluid rounded ">
                  </a>
                </div>
              </div>
            </div>
            <div class="owl-item">
              <div class="item">
                <div class="gallery-item">
                  <a href="{% static 'assets/images/living-room-7.jpg' %}" class="galelry-lightbox">
                    <img src="{% static 'assets/images/living-room-7.jpg' %}" alt="" class="img-fluid rounded ">
                  </a>
                </div>
              </div>
            </div>
            <div class="owl-item cloned">
              <div class="item">
                <div class="gallery-item">
                  <a href="{% static 'assets/images/living-room-1.jpg' %}" class="galelry-lightbox">
                    <img src="{% static 'assets/images/living-room-1.jpg' %}" alt="" class="img-fluid rounded ">
                  </a>
                </div>
              </div>
            </div>
            <div class="owl-item cloned">
              <div class="item">
                <div class="gallery-item">
                  <a href="{% static 'assets/mages/living-room-2.jpg' %}" class="galelry-lightbox">
                    <img src="{% static 'assets/images/living-room-2.jpg' %}" alt="" class="img-fluid rounded ">
                  </a>
                </div>
              </div>
            </div>
            <div class="owl-item cloned">
              <div class="item">
                <div class="gallery-item">
                  <a href="{% static 'assets/images/living-room-3.jpg' %}" class="galelry-lightbox">
                    <img src="{% static 'assets/images/living-room-3.jpg' %}" alt="" class="img-fluid rounded ">
                  </a>
                </div>
              </div>
            </div>
            <div class="owl-item cloned">
              <div class="item">
                <div class="gallery-item">
                  <a href="{% static 'assets/images/living-room-4.jpg' %}" class="galelry-lightbox">
                    <img src="{% static 'assets/images/living-room-4.jpg' %}" alt="" class="img-fluid rounded ">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="kitchen_next  position-absolute top-50  end-0 ">
        <!-- <img src="http://cozyspace.in/wp-content/themes/cozy-space/assets/img/right-arrow.png"> -->
        <i class="fa fa-angle-right" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</section><!-- End kitchen gallery Section -->
<!-- ======= Children Room Gallery ======= -->
<section class="slider_section pt-5 section">
  <div class="container position-relative">
    <div class="section-title skroll-title skrollable skrollable-before"
      data-top-bottom="transform: translateY(-100px);" data-bottom-top="transform: translateY(100px);"
      style="transform: translateY(100px);">
      <h2 class="text-center fw-light mb-3">Children Room</h2>
    </div>
    <div class="position-relative px-5">
      <div class="kitchen_prev  position-absolute top-50  start-0">
        <!-- <img src="http://cozyspace.in/wp-content/themes/cozy-space/assets/img/left-arrow.png"> -->
        <i class="fa fa-angle-left" aria-hidden="true"></i>
      </div>
      <div class="kitchen_gallery gallery_slider owl-carousel px-5 owl-loaded owl-drag">







        <div class="owl-stage-outer">
          <div class="owl-stage"
            style="transform: translate3d(-3936px, 0px, 0px); transition: all 0s ease 0s; width: 14760px;">
            <div class="owl-item cloned">
              <div class="item">
                <div class="gallery-item">
                  <a href="{% static 'assets/images/childrenroom-4.jpg' %}" class="galelry-lightbox">
                    <img src="{% static 'assets/images/childrenroom-4.jpg' %}" alt="" class="img-fluid rounded ">
                  </a>
                </div>
              </div>
            </div>
            <div class="owl-item cloned">
              <div class="item">
                <div class="gallery-item">
                  <a href="{% static 'assets/images/childrenroom-5.jpg' %}" class="galelry-lightbox">
                    <img src="{% static 'assets/images/childrenroom-5.jpg' %}" alt="" class="img-fluid rounded ">
                  </a>
                </div>
              </div>
            </div>
            <div class="owl-item cloned">
              <div class="item">
                <div class="gallery-item">
                  <a href="{% static 'assets/images/childrenroom-6.jpg' %}" class="galelry-lightbox">
                    <img src="{% static 'assets/images/childrenroom-6.jpg' %}" alt="" class="img-fluid rounded ">
                  </a>
                </div>
              </div>
            </div>
            <div class="owl-item cloned">
              <div class="item">
                <div class="gallery-item">
                  <a href="{% static 'assets/images/childrenroom-7.jpg' %}" class="galelry-lightbox">
                    <img src="{% static 'assets/images/childrenroom-7.jpg' %}" alt="" class="img-fluid rounded ">
                  </a>
                </div>
              </div>
            </div>
            <div class="owl-item active">
              <div class="item">
                <div class="gallery-item">
                  <a href="{% static 'assets/images/childrenroom-1.jpg' %}" class="galelry-lightbox">
                    <img src="{% static 'assets/images/childrenroom-1.jpg' %}" alt="" class="img-fluid rounded ">
                  </a>
                </div>
              </div>
            </div>
            <div class="owl-item">
              <div class="item">
                <div class="gallery-item">
                  <a href="{% static 'assets/images/childrenroom-2.jpg' %}" class="galelry-lightbox">
                    <img src="{% static 'assets/images/childrenroom-2.jpg' %}" alt="" class="img-fluid rounded ">
                  </a>
                </div>
              </div>
            </div>
            <div class="owl-item">
              <div class="item">
                <div class="gallery-item">
                  <a href="{% static 'assets/images/childrenroom-3.jpg' %}" class="galelry-lightbox">
                    <img src="{% static 'assets/images/childrenroom-3.jpg' %}" alt="" class="img-fluid rounded ">
                  </a>
                </div>
              </div>
            </div>
            <div class="owl-item">
              <div class="item">
                <div class="gallery-item">
                  <a href="{% static 'assets/images/childrenroom-4.jpg' %}" class="galelry-lightbox">
                    <img src="{% static 'assets/images/childrenroom-4.jpg' %}" alt="" class="img-fluid rounded ">
                  </a>
                </div>
              </div>
            </div>
            <div class="owl-item">
              <div class="item">
                <div class="gallery-item">
                  <a href="{% static 'assets/images/childrenroom-5.jpg' %}" class="galelry-lightbox">
                    <img src="{% static 'assets/images/childrenroom-5.jpg' %}" alt="" class="img-fluid rounded ">
                  </a>
                </div>
              </div>
            </div>
            <div class="owl-item">
              <div class="item">
                <div class="gallery-item">
                  <a href="{% static 'assets/images/childrenroom-6.jpg' %}" class="galelry-lightbox">
                    <img src="{% static 'assets/images/childrenroom-6.jpg' %}" alt="" class="img-fluid rounded ">
                  </a>
                </div>
              </div>
            </div>
            <div class="owl-item">
              <div class="item">
                <div class="gallery-item">
                  <a href="{% static 'assets/images/childrenroom-7.jpg' %}" class="galelry-lightbox">
                    <img src="{% static 'assets/images/childrenroom-7.jpg' %}" alt="" class="img-fluid rounded ">
                  </a>
                </div>
              </div>
            </div>
            <div class="owl-item cloned">
              <div class="item">
                <div class="gallery-item">
                  <a href="{% static 'assets/images/childrenroom-1.jpg' %}" class="galelry-lightbox">
                    <img src="{% static 'assets/images/childrenroom-1.jpg' %}" alt="" class="img-fluid rounded ">
                  </a>
                </div>
              </div>
            </div>
            <div class="owl-item cloned">
              <div class="item">
                <div class="gallery-item">
                  <a href="{% static 'assets/images/childrenroom-2.jpg' %}" class="galelry-lightbox">
                    <img src="{% static 'assets/images/childrenroom-2.jpg' %}" alt="" class="img-fluid rounded ">
                  </a>
                </div>
              </div>
            </div>
            <div class="owl-item cloned">
              <div class="item">
                <div class="gallery-item">
                  <a href="{% static 'assets/images/childrenroom-3.jpg' %}" class="galelry-lightbox">
                    <img src="{% static 'assets/images/childrenroom-3.jpg' %}" alt="" class="img-fluid rounded ">
                  </a>
                </div>
              </div>
            </div>
            <div class="owl-item cloned">
              <div class="item">
                <div class="gallery-item">
                  <a href="{% static 'assets/images/childrenroom-4.jpg' %}" class="galelry-lightbox">
                    <img src="{% static 'assets/images/childrenroom-4.jpg' %}" alt="" class="img-fluid rounded ">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="kitchen_next  position-absolute top-50  end-0 ">
        <!-- <img src="http://cozyspace.in/wp-content/themes/cozy-space/assets/img/right-arrow.png"> -->
        <i class="fa fa-angle-right" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</section><!-- End Children Room gallery Section -->
<section class="service_sec section fixed_bg"
  style="background-image: url(http://cozyspace.in/wp-content/themes/cozy-space/assets/img/bg-mg.jpg);">
  <div class="container">
    <h2 class="text-center mb-5 ">Our Services</h2>
    <div class="row equel-width">
      <div class="col  text-center">
        <div class="service_sec px-4 mb-4">
          <a href="http://cozyspace.in/services/wardrobes-storage-units/" class="d-block text-dark">
            <div class="service_icon ">
              <div class="bg_shape skrollable skrollable-before" data-top-bottom="transform: translateY(-15px);"
                data-bottom-top="transform: translateY(15px);" style="transform: translateY(15px);"><img
                  src="{% static 'assets/images/icon-bg.png' %}"></div>
              <img src="{% static 'assets/images/service-icon-10.png' %}">
            </div>
            <h5 class="service_title  text-dark">Wardrobes &amp; Storage Units</h5>
          </a>
        </div>
      </div>
      <div class="col  text-center">
        <div class="service_sec px-4 mb-4">
          <a href="http://cozyspace.in/services/entertainment-unit/" class="d-block text-dark">
            <div class="service_icon ">
              <div class="bg_shape skrollable skrollable-before" data-top-bottom="transform: translateY(-15px);"
                data-bottom-top="transform: translateY(15px);" style="transform: translateY(15px);"><img
                  src="{% static 'assets/images/icon-bg.png' %}"></div>
              <img src="{% static 'assets/images/service-icon-9.png' %}">
            </div>
            <h5 class="service_title  text-dark">Entertainment Unit</h5>
          </a>
        </div>
      </div>
      <div class="col  text-center">
        <div class="service_sec px-4 mb-4">
          <a href="http://cozyspace.in/services/study-units/" class="d-block text-dark">
            <div class="service_icon ">
              <div class="bg_shape skrollable skrollable-before" data-top-bottom="transform: translateY(-15px);"
                data-bottom-top="transform: translateY(15px);" style="transform: translateY(15px);"><img
                  src="{% static 'assets/images/icon-bg.png' %}"></div>
              <img src="{% static 'assets/images/service-icon-8.png' %}">
            </div>
            <h5 class="service_title  text-dark">Study Units</h5>
          </a>
        </div>
      </div>
      <div class="col  text-center">
        <div class="service_sec px-4 mb-4">
          <a href="http://cozyspace.in/services/puja-units/" class="d-block text-dark">
            <div class="service_icon ">
              <div class="bg_shape skrollable skrollable-before" data-top-bottom="transform: translateY(-15px);"
                data-bottom-top="transform: translateY(15px);" style="transform: translateY(15px);"><img
                  src="{% static 'assets/images/icon-bg.png' %}"></div>
              <img src="{% static 'assets/images/service-icon-3.png' %}">
            </div>
            <h5 class="service_title  text-dark">Puja Units</h5>
          </a>
        </div>
      </div>
      <div class="col  text-center">
        <div class="service_sec px-4 mb-4">
          <a href="http://cozyspace.in/services/bedroom/" class="d-block text-dark">
            <div class="service_icon ">
              <div class="bg_shape skrollable skrollable-before" data-top-bottom="transform: translateY(-15px);"
                data-bottom-top="transform: translateY(15px);" style="transform: translateY(15px);"><img
                  src="{% static 'assets/images/icon-bg.png' %}"></div>
              <img src="{% static 'assets/images/bed-icon-in-flat-design-retro-style-vector-25440006.png' %}">
            </div>
            <h5 class="service_title  text-dark">Bedroom</h5>
          </a>
        </div>
      </div>
      <div class="col  text-center">
        <div class="service_sec px-4 mb-4">
          <a href="http://cozyspace.in/services/movable-furnitures/" class="d-block text-dark">
            <div class="service_icon ">
              <div class="bg_shape skrollable skrollable-before" data-top-bottom="transform: translateY(-15px);"
                data-bottom-top="transform: translateY(15px);" style="transform: translateY(15px);"><img
                  src="{% static 'assets/images/icon-bg.png' %}"></div>
              <img src="{% static 'assets/images/service-icon-7.png' %}">
            </div>
            <h5 class="service_title  text-dark">Movable Furnitures</h5>
          </a>
        </div>
      </div>
      <div class="col  text-center">
        <div class="service_sec px-4 mb-4">
          <a href="http://cozyspace.in/services/modular-kitchen/" class="d-block text-dark">
            <div class="service_icon ">
              <div class="bg_shape skrollable skrollable-before" data-top-bottom="transform: translateY(-15px);"
                data-bottom-top="transform: translateY(15px);" style="transform: translateY(15px);"><img
                  src="{% static 'assets/images/icon-bg.png' %}"></div>
              <img src="{% static 'assets/images/service-icon-5.png' %}">
            </div>
            <h5 class="service_title  text-dark">Modular Kitchen</h5>
          </a>
        </div>
      </div>
      <div class="col  text-center">
        <div class="service_sec px-4 mb-4">
          <a href="http://cozyspace.in/services/children-room/" class="d-block text-dark">
            <div class="service_icon ">
              <div class="bg_shape skrollable skrollable-before" data-top-bottom="transform: translateY(-15px);"
                data-bottom-top="transform: translateY(15px);" style="transform: translateY(15px);"><img
                  src="{% static 'assets/images/icon-bg.png' %}"></div>
              <img src="{% static 'assets/images/teenager-room-interior-isometric-vector-14464711.png' %}">
            </div>
            <h5 class="service_title  text-dark">Children Room</h5>
          </a>
        </div>
      </div>
      <div class="col  text-center">
        <div class="service_sec px-4 mb-4">
          <a href="http://cozyspace.in/services/false-ceiling/" class="d-block text-dark">
            <div class="service_icon ">
              <div class="bg_shape skrollable skrollable-before" data-top-bottom="transform: translateY(-15px);"
                data-bottom-top="transform: translateY(15px);" style="transform: translateY(15px);"><img
                  src="{% static 'assets/images/icon-bg.png' %}"></div>
              <img src="{% static 'assets/images/service-icon-4.png' %}">
            </div>
            <h5 class="service_title  text-dark">False Ceiling</h5>
          </a>
        </div>
      </div>
      <div class="col  text-center">
        <div class="service_sec px-4 mb-4">
          <a href="http://cozyspace.in/services/crockery-units/" class="d-block text-dark">
            <div class="service_icon ">
              <div class="bg_shape skrollable skrollable-before" data-top-bottom="transform: translateY(-15px);"
                data-bottom-top="transform: translateY(15px);" style="transform: translateY(15px);"><img
                  src="{% static 'assets/images/icon-bg.png' %}"></div>
              <img src="{% static 'assets/images/service-icon-12.png' %}">
            </div>
            <h5 class="service_title  text-dark">Crockery Units</h5>
          </a>
        </div>
      </div>
      <div class="col  text-center">
        <div class="service_sec px-4 mb-4">
          <a href="http://cozyspace.in/services/living-room/" class="d-block text-dark">
            <div class="service_icon ">
              <div class="bg_shape skrollable skrollable-before" data-top-bottom="transform: translateY(-15px);"
                data-bottom-top="transform: translateY(15px);" style="transform: translateY(15px);"><img
                  src="{% static 'assets/images/icon-bg.png' %}"></div>
              <img
                src="{% static 'assets/images/living_room_furniture_icon_sofa_flowerpot_light_sketch_6842838.png' %}">
            </div>
            <h5 class="service_title  text-dark">Living Room</h5>
          </a>
        </div>
      </div>
      <div class="col  text-center">
        <div class="service_sec px-4 mb-4">
          <a href="http://cozyspace.in/services/cookery-shoe-rack/" class="d-block text-dark">
            <div class="service_icon ">
              <div class="bg_shape skrollable skrollable-before" data-top-bottom="transform: translateY(-15px);"
                data-bottom-top="transform: translateY(15px);" style="transform: translateY(15px);"><img
                  src="{% static 'assets/images/icon-bg.png' %}"></div>
              <img src="{% static 'assets/images/service-icon-1.png' %}">
            </div>
            <h5 class="service_title  text-dark">Cookery &amp; Shoe Rack</h5>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section areas_of_expertise">
  <div class="section_bg opacity-05 "><img src="{% static 'assets/images/aop-bg.jpg' %}"></div>
  <div class="container">
    <h2 class="text-center  mb-5">Other Areas of Expertise</h2>
    <div class="row ">
      <div class="col-sm-4 text-center mt-5">
        <img src="{% static 'assets/images/aop (3).png' %}" class="img-fluid mb-3">
        <h5>COMMERCIAL SPACES</h5>
      </div>
      <div class="col-sm-4 text-center mt-5">
        <img src="{% static 'assets/images/aop (1).png' %}" class="img-fluid mb-3">
        <h5>FLAT INTERIORS</h5>
      </div>
      <div class="col-sm-4 text-center mt-5">
        <img src="{% static 'assets/images/aop (2).png' %}" class="img-fluid mb-3">
        <h5>BUNGALOW INTERIORS</h5>
      </div>
    </div>
  </div>
</section>
<section class="call-to-action section">
  <div class="container">
    <div role="form" class="wpcf7" id="wpcf7-f69-p6-o1" lang="en-US" dir="ltr">
      <div class="screen-reader-response">
        <p role="status" aria-live="polite" aria-atomic="true"></p>
        <ul></ul>
      </div>
      <form method="post" class="wpcf7-form init" novalidate="novalidate" data-status="init">{% csrf_token %}
        <div style="display: none;">
          <input type="hidden" name="_wpcf7" value="69">
          <input type="hidden" name="_wpcf7_version" value="5.5.2">
          <input type="hidden" name="_wpcf7_locale" value="en_US">
          <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f69-p6-o1">
          <input type="hidden" name="_wpcf7_container_post" value="6">
          <input type="hidden" name="_wpcf7_posted_data_hash" value="">
        </div>
        <h2 class="text-center mb-5">Choose the best and forget the rest</h2>
        <div class="box-shadow   row p-5"
          style="box-shadow: 1px 2px 11px -2px rgba(0,0,0,0.2);  border: 1px solid #f1f1f1; ">
          <div class="form-group col-5  "><span class="wpcf7-form-control-wrap YourName"><input type="text"
                name="YourName" id="name" value="" size="40"
                class="wpcf7-form-control wpcf7-text wpcf7-validates-as-name form-control rounded-0"
                aria-required="true" aria-invalid="false" placeholder="Name"></span><span class="valid-name"></span> </div>
          <div class="form-group col-5 "><span class="wpcf7-form-control-wrap YourPhoneNumber"><input type="tel"
                name="YourPhoneNumber" id="phone" value="" size="40"
                class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-tel form-control rounded-0"
                aria-required="true" aria-invalid="false" placeholder="Phone Number"></span><span class="valid-phone"></span> </div>
          <div class="form-group col-2"><input type="submit" value="Expert Call Back"
              class="wpcf7-form-control has-spinner wpcf7-submit btn btn-theme"><span class="wpcf7-spinner"></span>
          </div>
        </div>
        <div class="wpcf7-response-output" aria-hidden="true"></div>
      </form>
    </div>
  </div>
</section>
<!-- ======= Testimonials Section ======= -->
<section id="testimonials" class="testimonials section"
  style="background-image: url(&#39;http://cozyspace.in/wp-content/themes/cozy-space/assets/img/testimonial-bg.png&#39;);">
  <div class="container">
    <h2 class="text-center mb-5 ">Testimonials</h2>
    <div class="testimonials-slider owl-carousel owl-loaded owl-drag">
      <!-- End testimonial item -->

      <!-- End testimonial item -->

      <!-- End testimonial item -->
      <div class="owl-stage-outer">
        <div class="owl-stage"
          style="transform: translate3d(-2352px, 0px, 0px); transition: all 0s ease 0s; width: 8232px;">
          <div class="owl-item cloned">
            <div class="item">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{% static 'assets/images/user-picture.png' %}" class="testimonial-img" alt="">
                  <h3>Sara Wilsson</h3>
                  <h4>Designer</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis
                    quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="owl-item cloned">
            <div class="item">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{% static 'assets/images/user-picture.png' %}" class="testimonial-img" alt="">
                  <h3>Jena Karlis</h3>
                  <h4>Store Owner</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim
                    tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="owl-item active">
            <div class="item">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{% static 'assets/images/user-picture.png' %}" class="testimonial-img" alt="">
                  <h3>Saul Goodman</h3>
                  <h4>Ceo &amp; Founder</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus.
                    Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="owl-item">
            <div class="item">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{% static 'assets/images/user-picture.png' %}" class="testimonial-img" alt="">
                  <h3>Sara Wilsson</h3>
                  <h4>Designer</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis
                    quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="owl-item">
            <div class="item">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{% static 'assets/images/user-picture.png' %}" class="testimonial-img" alt="">
                  <h3>Jena Karlis</h3>
                  <h4>Store Owner</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim
                    tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="owl-item cloned">
            <div class="item">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{% static 'assets/images/user-picture.png' %}" class="testimonial-img" alt="">
                  <h3>Saul Goodman</h3>
                  <h4>Ceo &amp; Founder</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus.
                    Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="owl-item cloned">
            <div class="item">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{% static 'assets/images/user-picture.png' %}" class="testimonial-img" alt="">
                  <h3>Sara Wilsson</h3>
                  <h4>Designer</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis
                    quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</section>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

<script>
  $(document).ready(function () {
    $('form').on('submit', function (e) {
      e.preventDefault();
      $('.wpcf7-response-output').html('')
      let name = $('#name').val()
      let phone = $('#phone').val()
      let error = false
      

      if (name.length < 1) {
        error = true
        $('.valid-name').css({ "color": "red" }).text('This field is required')
        
      }
      if (phone.length < 1) {
        error = true
        $('.valid-phone').css({ "color": "red" }).text('This field is required')
               
      }
      if(error){
        $('.wpcf7-response-output').css({ "color": "red" }).addClass("response_output").html('One or more fields have an error. Please check and try again.')

      }
      else {
        data = {
          'name': name,
          'phone': phone
        }
        $.ajax({
            type: 'POST',
            url: "/ajax_call/expert-call-back/",
            data: data,
           
            success: function(resultData) { 
              if(resultData.Status == 'Error'){
                $('.wpcf7-response-output').css({ "color": "red" }).addClass(
                  "response_output").html('Something went wrong, please try again later.')
              } 
              else{
                $('.wpcf7-response-output').css({ "color": "green" }).addClass(
                    "response_output").html('Thanks for submission.')
              }
            }
      });
      }
    

    });
  });


</script>
{% endblock %}