{% extends 'base-header.html' %}
{% load static %}

   {% block content %}

      <div class="innerpage_banner_sec">
         <div class="innerpage_banner ">
            <img src="{% static 'assets/images/living-room-banner.jpeg' %}" alt="">
         </div>
         <style>
            .innerpage_banner {
            background: #000;
            height: 100%;
            }
            .innerpage_banner_sec .innerpage_banner img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            }
         </style>
         <div class="hero-wrap-item center-item">
            <!--     <h2><span style="color: #ffffff;">Living Room</span></h2> -->
         </div>
      </div>
      <section class="about_sec section">
         <div class="container">
            <div class="row ">
               <div class="col-12">
                  <h1>Best Living Room interior designs in Hyderabad </h1>
                 <p>The living room is the fountainhead of the home that makes everyone mesmerized with its interior beauty. The living room interiors decide your nature of preference and your dignity. This appearance of langue commutes the glance of the rest of the house. So, choosing the best living room interior design is a wise choice. This front room is that spot in the house where you can trail with all your choices of creativity with different styles of rugs and a variety of light fixtures. (Armchairs and some sort of new sofa would give a diverse sight to the interiors of the living room).</p>
<p>It is a challenging task to choose the best design to brighten your living room interiors as there are a number of alternatives out there. Cozy Space offers you the right choice to choose from these alternatives. We offer the best amalgamations of colors and patterns which are modern and satisfy your taste as well. Our designs may even spark some new ideas of your choice and make your home look even more beautiful. At Cozy space, we plan the luxury living room designs with a commitment to creativity leaving no stone unturned.
 </p>

               </div>
            </div>
         </div>
      </section>
      <!-- ======= Kitchen Gallery ======= -->
      <section class="slider_section pt-1 section  ">
         <div class="container position-relative pb-5">
            <div class="section-title ">
               <h2 class="text-center  mb-5">Gallery</h2>
            </div>
            <div class="row project_gallery">
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/living-room-2.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/living-room-2.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/living-room-1.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/living-room-1.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/living-room-11.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/living-room-11.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/living-room-10.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/living-room-10.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/living-room-9.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/living-room-9.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/living-room-8.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/living-room-8.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/living-room-7.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/living-room-7.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/living-room-6.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/living-room-6.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/living-room-5.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/living-room-5.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/living-room-4.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/living-room-4.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/living-room-3.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/living-room-3.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
            </div>
         </div>
      </section>
     {% endblock %}
