{% extends 'base-header.html' %}
{% load static %}

   {% block content %}

      <div class="innerpage_banner_sec">
         <div class="innerpage_banner ">
            <img src="{% static 'assets/images/kitchen-14.jpg' %}" alt="">
         </div>
         <style>
            .innerpage_banner {
            background: #000;
            height: 100%;
            }
            .innerpage_banner_sec .innerpage_banner img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            }
         </style>
         <div class="hero-wrap-item center-item">
            <!--     <h2><span style="color: #ffffff;">Modular Kitchen</span></h2> -->
         </div>
      </div>
      <section class="about_sec section">
         <div class="container">
            <div class="row ">
               <div class="col-12">
                  <h1>Best Modular Kitchen Interior Designs in Hyderabad</h1>
                 <p>The modular kitchen got its supremacy over the regular cooking space in new homes of the contemporary world. It is the easement that made modular kitchens enter every new residence in recent years. Regular cooking spaces had given their own reasons to swerve modular kitchens for their kitchen interior designs. Since individual houses are sparse in recent times and most of the household is in apartments, the kitchen and living room would be in the same hall. In such an instance Cozy space offers you the best possible kitchen and living room design that suits your apartment. With the designs offered by the Cozy space, you will totally fall in love with your kitchen.</p>
<p>The modular kitchen has been ultra-modern to the regular kitchen due to its several partitions like drawers, cabinets, shelves, and racks, etc… offering adequate space for every need of cooking. Modular kitchens have become voguish that it helps to turn your cooking experience into a wonderful experience. These kitchens help you perform cooking and other related tasks in an organized manner. Organizing tasks in a better manner is not the only reason that made the modular kitchen in vogue, but also the stylish look and interior design of the kitchen attract the crowd to choose one of its kind. If you still do not have a modular kitchen then let us explain what an amazing experience you are missing out on.</p>
<p>Modular kitchen interior designs are exuberantly prepared by our experts with a tranquilizing and natural color palette. In a recent study, it has been shown that people tend to choose soul-soothing tones for kitchen interior design. Cozy space is the right place to opt for if you are one among them. </p>
<p>Our experts believe in the complacent nature of modular kitchen interior design and thus design accordingly. These interior designs are the score to settle for the wellness of an individual who constantly spends time in the kitchen. Cozy space not only offers different colors in interior designs, but we also offer vibrant shades and different patterns involved in the designs.</p>
<p>Outstanding interior designs, tranquilizing colors, and mesmerizing shades with different patterns in the designs of the modular kitchen interior designs is an overall package we offer to our clients to make their souls happy and content. Cooking is an art, and we always cheer up the artist with the best kitchen interior designs!!</p>

               </div>
            </div>
         </div>
      </section>
      <!-- ======= Kitchen Gallery ======= -->
      <section class="slider_section pt-1 section  ">
         <div class="container position-relative pb-5">
            <div class="section-title ">
               <h2 class="text-center  mb-5">Gallery</h2>
            </div>
            <div class="row project_gallery">
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/kitchen-10.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/kitchen-10.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/kitchen-20.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/kitchen-20.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/kitchen-19.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/kitchen-19.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/kitchen-18.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/kitchen-18.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/kitchen-17.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/kitchen-17.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/kitchen-16.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/kitchen-16.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/kitchen-15.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/kitchen-15.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/kitchen-14.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/kitchen-14.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/kitchen-13.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/kitchen-13.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/kitchen-12.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/kitchen-12.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/kitchen-11.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/kitchen-11.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/kitchen-21.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/kitchen-21.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/kitchen-9.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/kitchen-9.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/kitchen-8.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/kitchen-8.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/kitchen-7.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/kitchen-7.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/kitchen-6.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/kitchen-6.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/kitchen-5.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/kitchen-5.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/kitchen-4.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/kitchen-4.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/kitchen-3.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/kitchen-3.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/kitchen-2.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/kitchen-2.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
            </div>
         </div>
      </section>
     {% endblock %}
