{% extends 'base-header.html' %}
{% load static %}

   {% block content %}

      <div class="innerpage_banner_sec">
         <div class="innerpage_banner ">
            <img src="{% static 'assets/images/kitchen-14.jpg' %}" alt="">
         </div>
         <style>
            .innerpage_banner {
            background: #000;
            height: 100%;
            }
            .innerpage_banner_sec .innerpage_banner img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            }
         </style>
         <div class="hero-wrap-item center-item">
            <!--     <h2><span style="color: #ffffff;">Modular Kitchen</span></h2> -->
         </div>
      </div>
      <section class="about_sec section">
         <div class="container">
            <div class="row ">
               <div class="col-12">
                  <h1>Modular Kitchen</h1>
                 <p> Without a doubt, the modular kitchens have completely changed the concepts of modern-day cooking space in our home. With the comfort and style that the modular kitchens offer to you as well as to your home, we cannot think of a reason why you should not have it. So, rush to your modular kitchen specialist cozy space is now and get your own modular kitchen now. And trust us, once you will have it, you will totally fall in love with this section of your home!</p>
<p>A set of various compartments including drawers, cabinets, shelves, racks, etc., a modular kitchen has totally changed the way we perceive the cooking spaces of our homes. Needleless to say, the modular kitchens have become a rage today. Wondering what makes them so popular? Well, they make your kitchen space more organised, and turn cooking and other related tasks into a wonderful experience. And, the benefits of a modular kitchen are not just limited to the maximum space utilisation, but it also looks super-stylish and enhances the beauty of this part of your home manifold. So, if you still do not have a modular kitchen, then let us give you a few more reasons to think about having it. Here, have a look at the advantages of the modular kitchens that will simply tempt you to have one for yourself as well.</p>
<p>Predictions for kitchen colour trends in 2022 show people are looking for soothing and natural colour palettes in their cooking havens. Yes! As 2022 becomes a year of sustainability and conscious designs, we will see a lot of soul-soothing tones in our home interiors. <p>
<p>According to our design insights, wellness will be a driving factor in home interiors. Colours that exhibit natural and sustainable setups will be dominant. However, we will also see a lot of vibrant shades, especially in backsplash designs. And this goes for kitchen design too. </p>
<p>Colours have always been a source of setting the ambience in our interiors. Hence, this year, we will be using colours that align with the year’s overall design trends. While the white kitchen trend will continue to be essential because of its simplicity, we bring you some out of the box kitchen colour trends in 2022 for you. </p>

               </div>
            </div>
         </div>
      </section>
      <!-- ======= Kitchen Gallery ======= -->
      <section class="slider_section pt-1 section  ">
         <div class="container position-relative pb-5">
            <div class="section-title ">
               <h2 class="text-center  mb-5">Gallery</h2>
            </div>
            <div class="row project_gallery">
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/kitchen-10.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/kitchen-10.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/kitchen-20.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/kitchen-20.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/kitchen-19.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/kitchen-19.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/kitchen-18.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/kitchen-18.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/kitchen-17.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/kitchen-17.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/kitchen-16.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/kitchen-16.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/kitchen-15.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/kitchen-15.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/kitchen-14.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/kitchen-14.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/kitchen-13.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/kitchen-13.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/kitchen-12.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/kitchen-12.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/kitchen-11.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/kitchen-11.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/kitchen-21.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/kitchen-21.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/kitchen-9.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/kitchen-9.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/kitchen-8.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/kitchen-8.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/kitchen-7.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/kitchen-7.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/kitchen-6.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/kitchen-6.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/kitchen-5.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/kitchen-5.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/kitchen-4.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/kitchen-4.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/kitchen-3.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/kitchen-3.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/kitchen-2.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/kitchen-2.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
            </div>
         </div>
      </section>
     {% endblock %}
