{% extends 'base-header.html' %}
{% load static %}

   {% block content %}

      <div class="innerpage_banner_sec">
         <div class="innerpage_banner ">
            <img src="{% static 'assets/images/living-room-9.jpg' %}" alt="">
         </div>
         <style>
            .innerpage_banner {
            background: #000;
            height: 100%;
            }
            .innerpage_banner_sec .innerpage_banner img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            }
         </style>
         <div class="hero-wrap-item center-item">
            <!--     <h2><span style="color: #ffffff;">Movable Furnitures</span></h2> -->
         </div>
      </div>
      <section class="about_sec section">
         <div class="container">
            <div class="row ">
               <div class="col-12">
                  <h1>Movable Furnitures</h1>
                 <p> Architecture sets the scene and provides the framework, but interior design and furniture can have a strong influence on the vibe and mood of a space. As trends in interior design evolve over time, it’s often expressed in the furniture chosen to fill the room. Interior furniture speaks volumes about our priorities and personalities, as well as the atmosphere we want to convey.</p>
                  <p>cozy space brings fresh momentum to their aesthetic, pieces that tell the story of an informal yet elegant lifestyle. While the designs are timeless, nonetheless certain trends emerge that speak to the desire to create a welcoming, comfortable habitat with furniture that enhances the space without drawing too much attention to any one piece. Sofas, armchairs, coffee tables, ottomans, tables, and chairs all harmoniously mix in the collection featuring natural colors and textures, metal accents, and smoothly contoured silhouettes.</p>
                  <h4>Natural Colors and Textures</h4>
                  <p>The handcrafted Tessa armchair is constructed entirely from solid ash or walnut. Its traditional joinery details further enhance the wood’s natural character and feel. Woven paper rush cord make up the backrest and seat, another natural material that also lends historical context to the piece by incorporating this ancient Italian art.</p>
                  <p>First Steps chairs and stools also incorporate a seat made from either paper cord or paper rush cord, bringing a softer, natural touch to their minimal frame. Tightly woven cord creates a visually interesting pattern without adding distraction, maintaining the pieces’ versatility and sleek aesthetic.</p>
                  <h4>Metal Accents</h4>
                  <p>Dining and coffee tables in the Pico series feature tapered cast aluminum legs that give a sense of visual lightness. The legs come in various finishes to be mixed and matched with the table tops, which are available in multiple marble or wood options.</p>
                  <p>With the Gregory bed, a metal frame and cast aluminum feet are set off by the cowhide strips and padded headboard, creating a juxtaposition of hard and soft textures. The metal elements are again available in multiple finishes to coordinate with the cowhide and headboard fabric options.</p>
                  <h4>Smoothly Contoured Silhouettes</h4>
                  <p>Free of any sharp corners, the Asolo sofa instead features gently rounded geometry to create a silhouette that’s still modern without feeling harsh. The cushions are filled with blown polyester fiber and goose down for comfort and the arm rests are available in two different widths, tailored for a clean, finished look.</p>
                  <p>The smooth contours of the Joyce chair and armchair wrap fluidly from the back to the seat, comfortably enveloping those seated within. Its silhouette gives a continuous, homogenous appearance to the piece without sacrificing interest. The back opening and its relationship to the curved metal frame add another layer to Joyce's style and function.</p>

               </div>
            </div>
         </div>
      </section>
      <!-- ======= Kitchen Gallery ======= -->
      <section class="slider_section pt-1 section  ">
         <div class="container position-relative pb-5">
            <div class="section-title ">
               <h2 class="text-center  mb-5">Gallery</h2>
            </div>
            <div class="row project_gallery">
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/livingroom-9.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/livingroom-9.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/livingroom-8-scaled.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/livingroom-8-scaled.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/livingroom-7.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/livingroom-7.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/1-min-1.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/1-min-1.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/living-room-2.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/living-room-2.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/living-room-11.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/living-room-11.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/living-room-7.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/living-room-7.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/living-room-6.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/living-room-6.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/furniture-5.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/furniture-5.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/furniture-1.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/furniture-1.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/furniture-2.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/furniture-2.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/furniture-3.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/furniture-3.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/furniture-4.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/furniture-4.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
            </div>
         </div>
      </section>
    {% endblock %}
