{% extends 'base-header.html' %}
{% load static %}

   {% block content %}

      <div class="innerpage_banner_sec">
         <div class="innerpage_banner ">
            <img src="{% static 'assets/images/living-room-9.jpg' %}" alt="">
         </div>
         <style>
            .innerpage_banner {
            background: #000;
            height: 100%;
            }
            .innerpage_banner_sec .innerpage_banner img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            }
         </style>
         <div class="hero-wrap-item center-item">
            <!--     <h2><span style="color: #ffffff;">Movable Furnitures</span></h2> -->
         </div>
      </div>
      <section class="about_sec section">
         <div class="container">
            <div class="row ">
               <div class="col-12">
                  <h1>Movable Furnitures</h1>
                  <p>CozySpace is a pioneer in providing interior designing services all over India and headquartered in the pearl city- Hyderabad.</p>
                  <p>Our expert designers are well trained and equipped with major modern interior designing tools that help us provide you with innovative solutions and unique Interior decor plans that stand out.</p>
                  <p>We are a one-stop-shop solution to all your interior designing needs and our computer imaging will offer you detailed views of the complete commercial/residence project. Our talented designer team will work with the clients to custom design their spaces and the construction lead will ensure a perfect execution onsite per the agreed timelines.</p>
                  <p>Our reviews and awards speak to our expertise in the interior design arena. We are rated amongst the <a href="/">best interior designers</a> of South India and have won accolades from our clients for our custom design conceptions and top-notch execution.</p>
                  <p>Customer happiness is our Success.</p>
                  <p>This blog post shows a few different types of content that’s supported and styled with Bootstrap. Basic typography, lists, tables, images, code, and more are all supported as expected.</p>
                  <hr>
                  <p>This is some additional paragraph placeholder content. It has been written to fill the available space and show how a longer snippet of text affects the surrounding content. We’ll repeat it often to keep the demonstration flowing, so be on the lookout for this exact same string of text.</p>
                  <h2>Blockquotes</h2>
                  <p>This is an example blockquote in action:</p>
                  <blockquote class="blockquote">
                     <p>Quoted text goes here.</p>
                  </blockquote>
                  <p>This is some additional paragraph placeholder content. It has been written to fill the available space and show how a longer snippet of text affects the surrounding content. We’ll repeat it often to keep the demonstration flowing, so be on the lookout for this exact same string of text.</p>
                  <h3>Example lists</h3>
                  <p>This is some additional paragraph placeholder content. It’s a slightly shorter version of the other highly repetitive body text used throughout. This is an example unordered list:</p>
                  <ul>
                     <li>First list item</li>
                     <li>Second list item with a longer description</li>
                     <li>Third list item to close it out</li>
                  </ul>
                  <p>And this is an ordered list:</p>
                  <ol>
                     <li>First list item</li>
                     <li>Second list item with a longer description</li>
                     <li>Third list item to close it out</li>
                  </ol>
               </div>
            </div>
         </div>
      </section>
      <!-- ======= Kitchen Gallery ======= -->
      <section class="slider_section pt-1 section  ">
         <div class="container position-relative pb-5">
            <div class="section-title ">
               <h2 class="text-center  mb-5">Gallery</h2>
            </div>
            <div class="row project_gallery">
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/livingroom-9.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/livingroom-9.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/livingroom-8-scaled.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/livingroom-8-scaled.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/livingroom-7.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/livingroom-7.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/1-min-1.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/1-min-1.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/living-room-2.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/living-room-2.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/living-room-11.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/living-room-11.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/living-room-7.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/living-room-7.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/living-room-6.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/living-room-6.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/furniture-5.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/furniture-5.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/furniture-1.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/furniture-1.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/furniture-2.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/furniture-2.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/furniture-3.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/furniture-3.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/furniture-4.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/furniture-4.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
            </div>
         </div>
      </section>
    {% endblock %}