{% extends 'base-header.html' %}
{% load static %}

   {% block content %}

      <div class="innerpage_banner_sec">
         <div class="innerpage_banner ">
            <img src="{% static 'assets/images/living-room-9.jpg' %}" alt="">
         </div>
         <style>
            .innerpage_banner {
            background: #000;
            height: 100%;
            }
            .innerpage_banner_sec .innerpage_banner img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            }
         </style>
         <div class="hero-wrap-item center-item">
            <!--     <h2><span style="color: #ffffff;">Movable Furnitures</span></h2> -->
         </div>
      </div>
      <section class="about_sec section">
         <div class="container">
            <div class="row ">
               <div class="col-12">
                  <h1>Movable Furnitures</h1>
                 <p>An architect may design the framework of your home, but only the interiors of your home can have an influence on your vibe with the best interior designs. The evolution of interior design has extended its arm widely, where furniture has its prominence to add elegance to the interiors of your home. The interior designing furniture we choose speaks about our personality and priorities.</p>
<p>Cozy space brings you the most aesthetic furniture to define your elegant lifestyle. Emerging trends are the eye-catching beauty of interior furniture you choose for your home as they grab attention and create an aesthetic welcoming gesture. The interiors of your home are aggrandized with our movable furniture designs. We have a number of combinations for your furniture needs including sofas, coffee tables, ottomans, armchairs, tables, and chairs that mix and match with the natural colors and patterns of the interior designs of your home. We have several combinations of these pieces of furniture in our extensive collection. Our collection includes metal, wooden, glass, and even marble-made furniture to make your interiors look alluring.  You can even customize out of our extensive collection of furniture. </p>
<p>Our expert designers choose all these pieces of furniture to aid you with the best interior furniture designs. Cozy space would be the best choice if you want to make your home fascinating with our best interior furniture designs. Do check out all our combinations and pick one that suits your taste with a Cozy space!!</p>

               </div>
            </div>
         </div>
      </section>
      <!-- ======= Kitchen Gallery ======= -->
      <section class="slider_section pt-1 section  ">
         <div class="container position-relative pb-5">
            <div class="section-title ">
               <h2 class="text-center  mb-5">Gallery</h2>
            </div>
            <div class="row project_gallery">
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/livingroom-9.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/livingroom-9.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/livingroom-8-scaled.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/livingroom-8-scaled.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/livingroom-7.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/livingroom-7.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/1-min-1.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/1-min-1.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/living-room-2.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/living-room-2.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/living-room-11.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/living-room-11.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/living-room-7.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/living-room-7.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/living-room-6.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/living-room-6.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/furniture-5.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/furniture-5.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/furniture-1.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/furniture-1.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/furniture-2.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/furniture-2.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/furniture-3.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/furniture-3.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/furniture-4.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/furniture-4.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
            </div>
         </div>
      </section>
    {% endblock %}
