{% extends 'base-header.html' %}
{% load static %}

   {% block content %}

      <div class="innerpage_banner_sec">
         <div class="innerpage_banner ">
            <img src="{% static 'assets/images/puja-banner.jpg' %}" alt="">
         </div>
         <style>
            .innerpage_banner {
            background: #000;
            height: 100%;
            }
            .innerpage_banner_sec .innerpage_banner img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            }
         </style>
         <div class="hero-wrap-item center-item">
            <!--     <h2><span style="color: #ffffff;">Puja Units</span></h2> -->
         </div>
      </div>
      <section class="about_sec section">
         <div class="container">
            <div class="row ">
               <div class="col-12">
                  <h1>Puja Units</h1>
                  <p>Indian homes have many stipulations when it is about the puja units. This special unit of your house should be divine and also add a reposing gaze to your home. Usually, with all the puja room interior designs and special whittles in and around the puja units, this particular unit is an expensive piece of art for your interior decors. However, we got you covered to cut all these additional costs for your puja unit designs.</p>
                  <h2>What costs your Puja Unit?</h2>
                  <h4>Size</h4>
                  <p>The size of your puja unit determines the cost of your puja room. Usually, middling or small-size unit designs are preferred for this unit. And so, the cost also varies as per your choice. But scoot all your worries out, because Cozy space can provide you with an affordable puja unit that too with an outstanding design that could ever ask for. </p>
                   <h4>Materials </h4>
                  <p>Materials used for a puja unit can be wood, marble, or simply glass. The cost incurred for each material varies. Among all these, puja units made of marble are expensive. You can cut your cost on puja units by choosing the material of your puja unit discreetly. Cozy space designs the best possible puja units with all these materials or even with a combination of all these materials. We have left you ample choices to choose from the set of puja unit interior designs.</p>
                   <h4>Finishes</h4>
                  <p>The size and materials used don’t matter if the finish of the puja unit is not superior. So, the best finish you are expecting for your puja room the cost would be proportionate to it. The paints used, lamination touch-up, or simply a wallpaper. Any of these could give a superior finish to your unit. It just varies in the cost. Cozy space has got you a bunch of suggestions to serve this purpose. </p>
                   <h4>Customisation</h4>
                  <p>It is obvious that customization would cost you a fortune. However, many of us choose to customize our puja unit due to many reasons like space constraints. Due to these space constraints, some people even plan to delineate interior design for puja room wall units. Don’t worry!! Cozy space has your back! We help you in the customization of your puja unit at the most affordable cost. </p>
                  <p>All your doubts regarding the expense of a puja unit have been cleared with our overview of puja units. Cozy space renders the best services in delineating the admirable puja units for your house. Book a consultation today to get the best interiors for your home! </p>
               </div>
            </div>
         </div>
      </section>
      <!-- ======= Kitchen Gallery ======= -->
      <section class="slider_section pt-1 section  ">
         <div class="container position-relative pb-5">
            <div class="section-title ">
               <h2 class="text-center  mb-5">Gallery</h2>
            </div>
            <div class="row project_gallery">
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/Simple-pooja-room-designs-for-Indian-homes-stylesatlife.com_-471x400-1.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/Simple-pooja-room-designs-for-Indian-homes-stylesatlife.com_-471x400-1.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/wallmantra-temple-mandir-beautiful-wall-wooden-temple-pooja-mandir-design-with-shelf-brown-color-28967073251494_1024x1024.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/wallmantra-temple-mandir-beautiful-wall-wooden-temple-pooja-mandir-design-with-shelf-brown-color-28967073251494_1024x1024.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/0f00e16ac903075cd1c7238709d55fae.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/0f00e16ac903075cd1c7238709d55fae.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/2-111.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/2-111.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/71JwQun4trL._SL1000_.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/71JwQun4trL._SL1000_.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/ba0be570a24bc98880105019e8c10bea.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/ba0be570a24bc98880105019e8c10bea.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/image-1.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/image-1.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/interior-design-for-pooja-room-wall-units-for-your-living-room.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/interior-design-for-pooja-room-wall-units-for-your-living-room.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/Middle-Class-Indian-Style-Pooja-Room-Designs-Mandir.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/Middle-Class-Indian-Style-Pooja-Room-Designs-Mandir.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/pooja1.jpeg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/pooja1.jpeg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/pooja2.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/pooja2.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/pooja3.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/pooja3.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/pooja4.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/pooja4.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/pooja-room_9-the-small-puja-or-mandir-or-temple-designs-comprise-wall-mounted-units-pooja-room-remodeling-in-electronic-city-bangalore.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/pooja-room_9-the-small-puja-or-mandir-or-temple-designs-comprise-wall-mounted-units-pooja-room-remodeling-in-electronic-city-bangalore.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/Pooja-Room-1.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/Pooja-Room-1.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/Pooja-Room-2.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/Pooja-Room-2.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/Pooja-Room-3.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/Pooja-Room-3.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/Pooja-Room-4.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/Pooja-Room-4.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
            </div>
         </div>
      </section>
{% endblock %}
