{% extends 'base-header.html' %}
{% load static %}

   {% block content %}

      <div class="innerpage_banner_sec">
         <div class="innerpage_banner ">
            <img src="{% static 'assets/images/puja-banner.jpg' %}" alt="">
         </div>
         <style>
            .innerpage_banner {
            background: #000;
            height: 100%;
            }
            .innerpage_banner_sec .innerpage_banner img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            }
         </style>
         <div class="hero-wrap-item center-item">
            <!--     <h2><span style="color: #ffffff;">Puja Units</span></h2> -->
         </div>
      </div>
      <section class="about_sec section">
         <div class="container">
            <div class="row ">
               <div class="col-12">
                  <h1>Puja Units</h1>
                  <p>It is not that any of us want to cut corners with something as important as a pooja room. However, interiors in its entirety is an expensive affair. So more often than not we find ourselves in search of middle class Indian style pooja room designs that fit our budget as well as the aesthetics of our home. Don’t worry for we have you covered</p>
                  <h2>What affects the cost of your pooja room?</h2>
                  <h4>Size</h4>
                  <p>At the risk of stating the obvious, the size of your pooja room would determine how much it costs. The bigger the pooja room or unit, the more it costs. However, there is a catch here because the cost of a pooja unit also depends on other factors, which brings us to our next point. </p>
                   <h4>Materials </h4>
                  <p>The material used to make a pooja room has a determining effect on its price. For instance, wood costs more than glass, jaali or plywood. Marble, granite or any other natural stone will cost more than wood. Thus, a huge glass pooja room would still cost less than a small marble mandir!</p>
                   <h4>Finishes</h4>
                  <p>It’s not just the materials that go into making the pooja rooms that matter; its outer finish is also equally important! For instance, acrylic and PU paint finish will cost more than laminate or membrane finish. Also, a coat of wall paint in the pooja corner will cost less than adding a statement wallpaper. </p>
                   <h4>Customisation</h4>
                  <p>Customised furniture costs more than ready-to-install modular furniture. This thumb rule applies to all kinds of furniture including pooja units. If you want your pooja unit made to fit a particular space, it would cost you more than picking one from our catalogue or online. </p>
                  <p>Now that we have a clear understanding of what affects the price of pooja units, let’s take a look at some interesting affordable pooja room designs from #LivspaceHomes. Moreover, we’ll break down each of these designs so that you can understand why they are affordable. </p>
               </div>
            </div>
         </div>
      </section>
      <!-- ======= Kitchen Gallery ======= -->
      <section class="slider_section pt-1 section  ">
         <div class="container position-relative pb-5">
            <div class="section-title ">
               <h2 class="text-center  mb-5">Gallery</h2>
            </div>
            <div class="row project_gallery">
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/Simple-pooja-room-designs-for-Indian-homes-stylesatlife.com_-471x400-1.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/Simple-pooja-room-designs-for-Indian-homes-stylesatlife.com_-471x400-1.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/wallmantra-temple-mandir-beautiful-wall-wooden-temple-pooja-mandir-design-with-shelf-brown-color-28967073251494_1024x1024.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/wallmantra-temple-mandir-beautiful-wall-wooden-temple-pooja-mandir-design-with-shelf-brown-color-28967073251494_1024x1024.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/0f00e16ac903075cd1c7238709d55fae.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/0f00e16ac903075cd1c7238709d55fae.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/2-111.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/2-111.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/71JwQun4trL._SL1000_.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/71JwQun4trL._SL1000_.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/ba0be570a24bc98880105019e8c10bea.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/ba0be570a24bc98880105019e8c10bea.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/image-1.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/image-1.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/interior-design-for-pooja-room-wall-units-for-your-living-room.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/interior-design-for-pooja-room-wall-units-for-your-living-room.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/Middle-Class-Indian-Style-Pooja-Room-Designs-Mandir.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/Middle-Class-Indian-Style-Pooja-Room-Designs-Mandir.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/pooja1.jpeg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/pooja1.jpeg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/pooja2.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/pooja2.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/pooja3.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/pooja3.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/pooja4.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/pooja4.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/pooja-room_9-the-small-puja-or-mandir-or-temple-designs-comprise-wall-mounted-units-pooja-room-remodeling-in-electronic-city-bangalore.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/pooja-room_9-the-small-puja-or-mandir-or-temple-designs-comprise-wall-mounted-units-pooja-room-remodeling-in-electronic-city-bangalore.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/Pooja-Room-1.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/Pooja-Room-1.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/Pooja-Room-2.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/Pooja-Room-2.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/Pooja-Room-3.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/Pooja-Room-3.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/Pooja-Room-4.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/Pooja-Room-4.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
            </div>
         </div>
      </section>
{% endblock %}
