{% extends 'base-header.html' %}
{% load static %}

   {% block content %}

      <div class="innerpage_banner_sec">
         <div class="innerpage_banner ">
            <img src="{% static 'assets/images/strydt77-1.jpg' %}" alt="">
         </div>
         <style>
            .innerpage_banner {
            background: #000;
            height: 100%;
            }
            .innerpage_banner_sec .innerpage_banner img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            }
         </style>
         <div class="hero-wrap-item center-item">
            <!--     <h2><span style="color: #ffffff;">Study Units</span></h2> -->
         </div>
      </div>
      <section class="about_sec section">
         <div class="container">
            <div class="row ">
               <div class="col-12">
                  <h1>Study Units</h1>
                  <p>Study rooms play a prominent role in your child’s preparation for exams and also enhance their creativity. This room should be designed to inculcate creative thoughts and spark inspiration for their future development. Cozy space delineates the best study units for your children that ignite the hidden spark. The factors we consider to design a study unit are: </p>
                  <h4>Location:</h4>
                  <p>The location of the study room must get an ample amount of sun rays into the room and the convenient ventilation would be an add-on benefit for the room. </p>
                  <h4>Furniture:</h4>
                  <p>A well-furnished study room requires a suitable desk and chair having plenty of space for storage with at least 2 racks installed for the books and other stationery needed to the desk. This desk should be designed according to the easement of your children’s height and size. </p>
                  <h4>Lighting:</h4>
                  <p>A regular soft light, natural sunlight through ventilation, and a task lamp at the study table are the required sources of lighting for a quintessential study room. Each type of lighting has its own corollary while studying. Bright lighting or dim lighting in the study room may have an adverse effect on the children’s eyes. </p>
                  <h4>Functionality:</h4>
                  <p>Functional areas of the study room have to be delineated according to the easement of the children. The right ambiance for the study table, sufficient drawers, and bookshelves to store important files and books are a must and should be required in a study room. The ambiance even includes a proper arrangement for a piece of pleasant music to relax in breaks of a heated preparation. Electric plug sockets should be installed at the study desk to charge electronic gadgets like laptops mobiles etc…</p>
                  <h4>Shades of colors: </h4>
                  <p>The colors chosen for the study room interiors should be reposing. Neutral colors are preferred for a study room. If your children are still kids, shades of lemon yellow and green are preferred as they induce a calming effect on their mental stability.</p>
                  <h4>Vastu Considerations:</h4>
                  <p>If you are the one who believes in Vastu for your study room, prefer the west or north east location room as a study room. The desk should face the east or north. For an ideal study room, the south wall should not consist of any windows. </p>
                  <p>At Cozy space, we concern with your preferences while delineating a suitable study room for your children. We could deliver the best interior designs for study rooms that suit your choice. We even have a collection of study room interior designs from which you can choose. Cozy space will be the right choice if you are looking for the best interior designers in Hyderabad!</p>
               </div>
            </div>
         </div>
      </section>
      <!-- ======= Kitchen Gallery ======= -->
      <section class="slider_section pt-1 section  ">
         <div class="container position-relative pb-5">
            <div class="section-title ">
               <h2 class="text-center  mb-5">Gallery</h2>
            </div>
            <div class="row project_gallery">
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/study-unit-14.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/study-unit-14.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/study-unit-15.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/study-unit-15.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/study-unit-16.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/study-unit-16.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/study-unit-1.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/study-unit-1.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/study-unit-1.png' %}" class="galelry-lightbox"><img src="{% static 'assets/images/study-unit-1.png' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/study-unit-1.webp' %}" class="galelry-lightbox"><img src="{% static 'assets/images/study-unit-1.webp' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/study-unit-2.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/study-unit-2.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/study-unit-3.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/study-unit-3.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/study-unit-4.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/study-unit-4.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/study-unit-5.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/study-unit-5.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/study-unit-6.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/study-unit-6.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/study-unit-7.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/study-unit-7.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/study-unit-8.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/study-unit-8.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/study-unit-9.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/study-unit-9.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/study-unit-10.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/study-unit-10.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/study-unit-11.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/study-unit-11.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/study-unit-12.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/study-unit-12.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/study-unit-13.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/study-unit-13.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
            </div>
         </div>
      </section>
{% endblock %}
