{% extends 'base-header.html' %}
{% load static %}

   {% block content %}

      <div class="innerpage_banner_sec">
         <div class="innerpage_banner ">
            <img src="{% static 'assets/images/strydt77-1.jpg' %}" alt="">
         </div>
         <style>
            .innerpage_banner {
            background: #000;
            height: 100%;
            }
            .innerpage_banner_sec .innerpage_banner img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            }
         </style>
         <div class="hero-wrap-item center-item">
            <!--     <h2><span style="color: #ffffff;">Study Units</span></h2> -->
         </div>
      </div>
      <section class="about_sec section">
         <div class="container">
            <div class="row ">
               <div class="col-12">
                  <h1>Study Units</h1>
                  <p>A study room is a place for quiet contemplation, work or study. It’s a room where you or your kids will not be disturbed. It should be a comfortable and productive space. It should also spark inspiration and stimulate creativity. Ready to get started on designing the perfect study room for your home? Here’s how to go about it.</p>
                  <p>What Are the Elements You Need to Keep in Mind When Designing Study Room?</p>
                  <p><b>Location:</b> Pick a room that is secluded and quiet; ideally someplace where you can get the sun’s rays in the morning or evening. The sun slanting across your desk can look lovely.</p>
                  <p><b>Furniture:</b> You need a well-designed desk and chair—plan for plenty of storage overhead or along at least one sidewall. If the study room is for your children, scale down the size to suit their comfort.</p>
                  <p><b>Lighting:</b> You will require soft ambient lighting, and a task light next to the desk, like a reading lamp with a throw that can be adjusted. It’s also good to have plenty of natural light in this room. An ergonomically designed chair is a must if you expect to be spending a lot of time at your desk. If space permits, do add a lounge chair where you can put up your feet and relax.</p>
                  <p><b>Functionality:</b> Plan the functional areas well. Your storage drawers should have organisers for files and stationery. Have plenty of shelves for books and other resources. Don’t forget the waste bin and have potted plants around to keep the air fresh. If possible, install a music system and a television screen if this is going to double up as a den. Make sure there are enough electrical points for all your chargers (laptop, mobile etc.), printer, study lamp, wifi modem and anything else you require at your desk. If the electrical points are below desk level, get a wire manager for easier access.</p>
                  <p><b>Colours:</b> Neutral colours work well for a study room. If this room is going to be used by your kids, shades of green and lemon yellow are calming and are conducive to mental alertness.</p>
                  <p><b>Vastu considerations:</b> If you believe in Vastu, the ideal location for a study is in the west or northeast of the house. When sitting at the desk, you should face east or north. Also, ideally, the south wall should not have any windows.</p>
               </div>
            </div>
         </div>
      </section>
      <!-- ======= Kitchen Gallery ======= -->
      <section class="slider_section pt-1 section  ">
         <div class="container position-relative pb-5">
            <div class="section-title ">
               <h2 class="text-center  mb-5">Gallery</h2>
            </div>
            <div class="row project_gallery">
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/study-unit-14.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/study-unit-14.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/study-unit-15.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/study-unit-15.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/study-unit-16.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/study-unit-16.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/study-unit-1.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/study-unit-1.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/study-unit-1.png' %}" class="galelry-lightbox"><img src="{% static 'assets/images/study-unit-1.png' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/study-unit-1.webp' %}" class="galelry-lightbox"><img src="{% static 'assets/images/study-unit-1.webp' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/study-unit-2.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/study-unit-2.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/study-unit-3.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/study-unit-3.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/study-unit-4.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/study-unit-4.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/study-unit-5.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/study-unit-5.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/study-unit-6.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/study-unit-6.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/study-unit-7.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/study-unit-7.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/study-unit-8.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/study-unit-8.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/study-unit-9.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/study-unit-9.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/study-unit-10.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/study-unit-10.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/study-unit-11.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/study-unit-11.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/study-unit-12.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/study-unit-12.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/study-unit-13.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/study-unit-13.jpg' %}" alt="" class="img-fluid  " ></a></div>
               </div>
            </div>
         </div>
      </section>
{% endblock %}
