{% extends 'base-header.html' %}
{% load static %}

   {% block content %}
    
      <div class="innerpage_banner_sec">
         <div class="innerpage_banner ">
            <img src="{% static 'assets/images/WARDROBES112.jpg' %}" alt="">
         </div>
         <style>
            .innerpage_banner {
            background: #000;
            height: 100%;
            }
            .innerpage_banner_sec .innerpage_banner img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            }
         </style>
         <div class="hero-wrap-item center-item">
            <!--     <h2><span style="color: #ffffff;">Wardrobes &#038; Storage Units</span></h2> -->
         </div>
      </div>
     
      <section class="about_sec section">
         <div class="container">
            <div class="row ">
               <div class="col-12">
                  <h1>Wardrobes &amp; Storage Units</h1>
                  <p>Wardrobe installation is one of the key decisions we make while renovating or shiftin g to a new apartment. Breaking away from the norm of conventional closets that offer only closed storage, Cozy Space brings you an all new, ground-breaking set of modular wardrobes that allow you to not only house your essentials, but also proudly showcase your treasures.</p>
                  <p><b>Store anything:</b> The functionality of the regular two-door wardrobe is limited to mostly concealed storage, and hence they’re used to store only clothes and personal items. The new wardrobes, however, combine display area with storage to offer an amalgamation of different compartments to house your clothes, books, crockery and personal treasures etc. Designed with modular units, they allow you to keep everything you love in one place.</p>
                  <p><b>Fit it anywhere:</b>  Conventionally, wardrobes have been regarded as large storage units to be housed only in the bedroom. However, our new set of wardrobes are designed to fit in practically anywhere in the house — including your living room and dining area — since they address both storage and display needs.</p>
                  <p><b>Unique hues:</b> The main aim of these new set of wardrobes is to break away from the conventional. Instead, they focus on showing off your individuality. Cozy Space offers modular wardrobes in striking, unique colours.</p>
                  <p><b>Wisely priced:</b> These storage solutions can combine everything from a TV unit and bookshelf to a wardrobe in one neat package.  Buying each of these units separately is more expensive, making the new integrated wardrobes the smarter choice.</p>
                  <p><b>Space-saving:</b>  It’s often necessary to accommodate different storage units in a tight space. There are scenarios where these storage units look odd together, or they leave behind awkward spaces that are visually unappealing. Since the new wardrobe offers space for your TV, books, and clothes in one, it is perfectly designed to keep up with modern requirements.</p>
                  <p>Wardrobes which combine storage and display units are a blessing for modern homes. They not only accommodate all your essentials but also break the monotony of the conventional storage units</p>

               </div>
            </div>
         </div>
      </section>
      <!-- ======= Kitchen Gallery ======= -->
      <section class="slider_section pt-1 section  ">
         <div class="container position-relative pb-5">
            <div class="section-title ">
               <h2 class="text-center  mb-5">Gallery</h2>
            </div>
            <div class="hide_gallery" style="display: none">
               <p>
                <img loading="lazy" class="alignnone size-full wp-image-155" src="{% static 'assets/WARDROBES-1-1.png' %}" alt="" width="1000" height="1333" > 
                <img loading="lazy" class="alignnone size-full wp-image-156" src="{% static 'assets/WARDROBES-1-1.webp' %}" alt="" width="600" height="600" > 
               <img loading="lazy" class="alignnone size-full wp-image-157" src="{% static 'assets/images/WARDROBES-2-1-scaled.jpg' %}" alt="" width="1707" height="2560" > 
               <img loading="lazy" class="alignnone size-full wp-image-158" src="{% static 'assets/images/WARDROBES-2-1.png' %}" alt="" width="800" height="1200" > 
               <img loading="lazy" class="alignnone size-full wp-image-159" src="{% static 'assets/images/WARDROBES-2-1.webp' %}" alt="" width="500" height="281" > 
               <img loading="lazy" class="alignnone size-full wp-image-160" src="{% static 'assets/images/WARDROBES-3-1.jpg' %}" alt="" width="736" height="552" > 
               <img loading="lazy" class="alignnone size-full wp-image-161" src="{% static 'assets/images/WARDROBES-3-1.png' %}" alt="" width="1000" height="1333" > 
               <img loading="lazy" class="alignnone size-full wp-image-162" src="{% static 'assets/images/WARDROBES-4-1.jpg' %}" alt="" width="1200" height="720" > 
               <img loading="lazy" class="alignnone size-full wp-image-163" src="{% static 'assets/images/WARDROBES-5-1.jpg' %}" alt="" width="673" height="1010" > 
               <img loading="lazy" class="alignnone size-full wp-image-164" src="{% static 'assets/images/WARDROBES-6-1.jpg' %}" alt="" width="564" height="752" > 
               <img loading="lazy" class="alignnone size-full wp-image-166" src="{% static 'assets/images/WARDROBES-9-1.jpg' %}" alt="" width="1665" height="1150" > 
               <img loading="lazy" class="alignnone size-full wp-image-167" src="{% static 'assets/images/WARDROBES-7-2.jpg' %}" alt="" width="2096" height="1790" >
            </div>
            <div class="row project_gallery">
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/WARDROBES-1-1.png' %}" class="galelry-lightbox"><img src="{% static 'assets/images/WARDROBES-1-1.png' %}" alt="" class="img-fluid  " style="height: 270px;"></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/WARDROBES-1-1.webp' %}" class="galelry-lightbox"><img src="{% static 'assets/images/WARDROBES-1-1.webp' %}" alt="" class="img-fluid  " style="height: 270px;"></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/WARDROBES-2-1-scaled.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/WARDROBES-2-1-scaled.jpg' %}" alt="" class="img-fluid  " style="height: 270px;"></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/WARDROBES-2-1.png' %}" class="galelry-lightbox"><img src="{% static 'assets/images/WARDROBES-2-1.png' %}" alt="" class="img-fluid  " style="height: 270px;"></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/WARDROBES-2-1.webp' %}" class="galelry-lightbox"><img src="{% static 'assets/images/WARDROBES-2-1.webp' %}" alt="" class="img-fluid  " style="height: 270px;"></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/WARDROBES-3-1.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/WARDROBES-3-1.jpg' %}" alt="" class="img-fluid  " style="height: 270px;"></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/WARDROBES-3-1.png' %}" class="galelry-lightbox"><img src="{% static 'assets/images/WARDROBES-3-1.png' %}" alt="" class="img-fluid  " style="height: 270px;"></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/WARDROBES-4-1.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/WARDROBES-4-1.jpg' %}" alt="" class="img-fluid  " style="height: 270px;"></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/WARDROBES-5-1.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/WARDROBES-5-1.jpg' %}" alt="" class="img-fluid  " style="height: 270px;"></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/WARDROBES-6-1.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/WARDROBES-6-1.jpg' %}" alt="" class="img-fluid  " style="height: 270px;"></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/WARDROBES-9-1.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/WARDROBES-9-1.jpg' %}" alt="" class="img-fluid  " style="height: 270px;"></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/WARDROBES-7-2.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/WARDROBES-7-2.jpg' %}" alt="" class="img-fluid  " style="height: 270px;"></a></div>
               </div>
            </div>
         </div>
      </section>
    {% endblock %}
