{% extends 'base-header.html' %}
{% load static %}

   {% block content %}
    
      <div class="innerpage_banner_sec">
         <div class="innerpage_banner ">
            <img src="{% static 'assets/images/WARDROBES112.jpg' %}" alt="">
         </div>
         <style>
            .innerpage_banner {
            background: #000;
            height: 100%;
            }
            .innerpage_banner_sec .innerpage_banner img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            }
         </style>
         <div class="hero-wrap-item center-item">
            <!--     <h2><span style="color: #ffffff;">Wardrobes &#038; Storage Units</span></h2> -->
         </div>
      </div>
     
      <section class="about_sec section">
         <div class="container">
            <div class="row ">
               <div class="col-12">
                  <h1>Wardrobes &amp; Storage Units</h1>
                  <p>Over many years there are many changes in interior designing. Customized wardrobes and storage units are new trends in modern interior designing. Conventional closets and closed storage units faded when modular wardrobes came into the picture. Cozy Space allows you to design the wardrobe at your comfort. We even offer a pre-designed set of modular wardrobes which satisfies the purpose and at the same time adds a new gaze to your home.</p>
                  <h4>Store Different things:</h4>
                  <p>Earlier, wardrobes were used to store some clothes and other personal items. They were designed in such a manner and customization of the wardrobe is not in line. Cozy Space offers you specialized wardrobes interiors with different compartments to keep various items. A single wardrobe can be a place to store many different items from pins to crockery. The amalgamation of different modular units offers comfort to pile everything you need in one place. </p>
                  <h4>Fits anywhere:</h4>
                  <p>Usually, a conventional wardrobe would be a large storage unit and it needs a specific space in the house. Cozy space offers a wide variety of wardrobes that fits any place in your space. It may be a living room or a dining area, it serves both storage and ambiance purposes in the home. </p>
                  <h4>Unique Hues:</h4>
                  <p>We provide wardrobes with different and unique hues. Conventional closets are far from the range of wardrobes we offer to our clients. Different shades and patterns on the wardrobes depict the individuality of the person and Cozy space is the best choice for that matter. </p>
                  <h4>Wise prices:</h4>
                  <p>Storage units are not just closets or wardrobes. A storage unit can be anything where we store items right from TV unit to bookshelf, all these come under storage units. Purchasing all these individually would cost a fortune. We offer a package of all these units which reduces the monetary burden to a greater extent.</p>
                  <h4>Saves the Space!!</h4>
                  <p>Different storage units occupy spaces in different ways. If all these units are arranged in one place, they look awkward which leaves unappealing visuals. Cozy space offers you the new kind of wardrobes which offer space for all your necessities right from TV to other things like clothes and books. We offer the trendiest wardrobes that suit your style.</p>
                  <p>Using different items for various purposes is an old thing. Modern homes need something innovative which meets multiple purposes. Our wardrobes are one of those kinds that this modern interior design always looks for.</p>

               </div>
            </div>
         </div>
      </section>
      <!-- ======= Kitchen Gallery ======= -->
      <section class="slider_section pt-1 section  ">
         <div class="container position-relative pb-5">
            <div class="section-title ">
               <h2 class="text-center  mb-5">Gallery</h2>
            </div>
            <div class="hide_gallery" style="display: none">
               <p>
                <img loading="lazy" class="alignnone size-full wp-image-155" src="{% static 'assets/WARDROBES-1-1.png' %}" alt="" width="1000" height="1333" > 
                <img loading="lazy" class="alignnone size-full wp-image-156" src="{% static 'assets/WARDROBES-1-1.webp' %}" alt="" width="600" height="600" > 
               <img loading="lazy" class="alignnone size-full wp-image-157" src="{% static 'assets/images/WARDROBES-2-1-scaled.jpg' %}" alt="" width="1707" height="2560" > 
               <img loading="lazy" class="alignnone size-full wp-image-158" src="{% static 'assets/images/WARDROBES-2-1.png' %}" alt="" width="800" height="1200" > 
               <img loading="lazy" class="alignnone size-full wp-image-159" src="{% static 'assets/images/WARDROBES-2-1.webp' %}" alt="" width="500" height="281" > 
               <img loading="lazy" class="alignnone size-full wp-image-160" src="{% static 'assets/images/WARDROBES-3-1.jpg' %}" alt="" width="736" height="552" > 
               <img loading="lazy" class="alignnone size-full wp-image-161" src="{% static 'assets/images/WARDROBES-3-1.png' %}" alt="" width="1000" height="1333" > 
               <img loading="lazy" class="alignnone size-full wp-image-162" src="{% static 'assets/images/WARDROBES-4-1.jpg' %}" alt="" width="1200" height="720" > 
               <img loading="lazy" class="alignnone size-full wp-image-163" src="{% static 'assets/images/WARDROBES-5-1.jpg' %}" alt="" width="673" height="1010" > 
               <img loading="lazy" class="alignnone size-full wp-image-164" src="{% static 'assets/images/WARDROBES-6-1.jpg' %}" alt="" width="564" height="752" > 
               <img loading="lazy" class="alignnone size-full wp-image-166" src="{% static 'assets/images/WARDROBES-9-1.jpg' %}" alt="" width="1665" height="1150" > 
               <img loading="lazy" class="alignnone size-full wp-image-167" src="{% static 'assets/images/WARDROBES-7-2.jpg' %}" alt="" width="2096" height="1790" >
            </div>
            <div class="row project_gallery">
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/WARDROBES-1-1.png' %}" class="galelry-lightbox"><img src="{% static 'assets/images/WARDROBES-1-1.png' %}" alt="" class="img-fluid  " style="height: 270px;"></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/WARDROBES-1-1.webp' %}" class="galelry-lightbox"><img src="{% static 'assets/images/WARDROBES-1-1.webp' %}" alt="" class="img-fluid  " style="height: 270px;"></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/WARDROBES-2-1-scaled.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/WARDROBES-2-1-scaled.jpg' %}" alt="" class="img-fluid  " style="height: 270px;"></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/WARDROBES-2-1.png' %}" class="galelry-lightbox"><img src="{% static 'assets/images/WARDROBES-2-1.png' %}" alt="" class="img-fluid  " style="height: 270px;"></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/WARDROBES-2-1.webp' %}" class="galelry-lightbox"><img src="{% static 'assets/images/WARDROBES-2-1.webp' %}" alt="" class="img-fluid  " style="height: 270px;"></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/WARDROBES-3-1.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/WARDROBES-3-1.jpg' %}" alt="" class="img-fluid  " style="height: 270px;"></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/WARDROBES-3-1.png' %}" class="galelry-lightbox"><img src="{% static 'assets/images/WARDROBES-3-1.png' %}" alt="" class="img-fluid  " style="height: 270px;"></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/WARDROBES-4-1.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/WARDROBES-4-1.jpg' %}" alt="" class="img-fluid  " style="height: 270px;"></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/WARDROBES-5-1.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/WARDROBES-5-1.jpg' %}" alt="" class="img-fluid  " style="height: 270px;"></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/WARDROBES-6-1.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/WARDROBES-6-1.jpg' %}" alt="" class="img-fluid  " style="height: 270px;"></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/WARDROBES-9-1.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/WARDROBES-9-1.jpg' %}" alt="" class="img-fluid  " style="height: 270px;"></a></div>
               </div>
               <div class="col-lg-3 col-md-4 col-12 mb-3">
                  <div class="img_gallery"><a href="{% static 'assets/images/WARDROBES-7-2.jpg' %}" class="galelry-lightbox"><img src="{% static 'assets/images/WARDROBES-7-2.jpg' %}" alt="" class="img-fluid  " style="height: 270px;"></a></div>
               </div>
            </div>
         </div>
      </section>
    {% endblock %}
